.centered-600
  %h1 Send #{@message.recipient.first_name} a message

  %p Write your message below, then click <strong>Submit</strong>. We'll email #{@message.recipient.first_name} with your message, and CC a copy to you as well. If #{@message.recipient.first_name} replies, you'll receive the reply directly in your email inbox.

  = form_for(@message, html: { style: "max-width: 800px;" }) do |f|
    = show_errors_for @message

    = f.hidden_field :project_id
    = f.hidden_field :recipient_id

    - if @message.project
      .row.row-padded
        .col-sm-3
          %strong Regarding project:
        .col-sm-9
          = link_to @message.project.title, @message.project

    .row.row-padded
      .col-sm-3
        = f.label :subject, "Subject"
      .col-sm-9
        - if @message.project
          = f.select :subject, Message::PROJECT_SUBJECT_PRESETS, { include_blank: "- select one -" }, class: "form-control"
        - else
          = f.text_field :subject, class: "form-control"
    .row.row-padded
      .col-sm-3= f.label :body, "Your message"
      .col-sm-9= f.text_area :body, class: "form-control"
    .row.row-padded
      .col-sm-3
      .col-sm-9= f.submit "Send!", class: "btn btn-primary"
