.centered-600

  %h2 Re-send confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .row.row-padded
      .col-sm-3.text-right
        = f.label :email
        = required
      .col-sm-9
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"

    .row.row-padded
      .col-sm-3
      .col-sm-9
        = f.submit "Submit", class: "btn btn-primary"

  = render "devise/shared/links"
