.centered-600
  %h2 Account settings

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .row.row-padded
      .col-sm-4
        = f.label :email
      .col-sm-8{style: "min-width: 200px;"}= f.email_field :email, autofocus: true, class: 'form-control'
    .row.row-padded
      .col-sm-4
        =f.label :password, "New password"
        .small.em Leave blank to keep your current password
      .col-sm-8= f.password_field :password, autocomplete: "off", class: 'form-control'
    .row.row-padded
      .col-sm-4= f.label :password_confirmation, "Confirm new password"
      .col-sm-8= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .row.row-padded
      .col-sm-4= required_label(f, :current_password)
      .col-sm-8= f.password_field :current_password, autocomplete: "off", class: 'form-control'
    .row.row-padded
      .col-sm-4
      .col-sm-8= f.submit "Update", class: 'btn btn-primary'

  %hr

  %p
    Unhappy?
    = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'text-danger'
