%h3 New comment

= form_for comment, url: comments_path(comment) do |f|
  = hidden_field_tag "context_type", context.class.to_s
  = hidden_field_tag "context_id", context.id
  - if must_state_intention
    %div
      = label_tag "intention", "I'm writing this post to..."
      = required
      .hint.small Consciously setting your intention can encourage more thoughtful and more productive discussions.
    %div
      = select_tag "intention_prepopulator", options_for_select([["- pick one -", ""]] + ConversationParticipantJoin::INTENTION_PRESETS), {class: "js-populate-value form-control", data: {target: "#participant_join_intention"}}
      = text_field_tag "intention", params[:intention], class: "form-control"

  = f.text_area :body, class: "form-control js-ckeditor", style: "height: 200px;"
  .row-padded
    = monitor_connection
    = f.submit "Post comment", class: "btn btn-primary"
