%div
  = form_for comment, url: comments_path(comment) do |f|
    = hidden_field_tag "context_type", context.class.to_s
    = hidden_field_tag "context_id", context.id

    - if must_state_intention
      = render partial: "conversations/form_intention"

    = f.hidden_field :body
    %div{style: "padding-top: 10px;"}
      <trix-editor input="comment_body" placeholder="Write your comment here"></trix-editor>

    %div{style: "padding-top: 10px;"}
      = monitor_connection
      = f.submit "Reply", class: "btn btn-primary"
