%h3 New comment

= form_for comment, url: comments_path(comment) do |f|
  = hidden_field_tag "context_type", context.class.to_s
  = hidden_field_tag "context_id", context.id

  - if must_state_intention
    = render partial: "conversations/form_intention"

  = f.text_area :body, class: "form-control js-ckeditor", style: "height: 200px;"
  .row-padded
    = monitor_connection
    = f.submit "Post comment", class: "btn btn-primary"
