%h4 Add a comment

= form_for comment, url: comments_path(comment) do |f|
  = hidden_field_tag "context_type", context.class.to_s
  = hidden_field_tag "context_id", context.id

  - if must_state_intention
    = render partial: "conversations/form_intention"

  = f.hidden_field :body
  <trix-editor input="comment_body"></trix-editor>

  .row-padded
    = monitor_connection
    = f.submit "Post comment", class: "btn btn-primary"
