%div{style: "padding-left: 70px; min-height: 80px; position: relative; padding-top: 10px; border-bottom: 1px solid #eee; max-width: 800px;"}
  %div{style: "position: absolute; left: 0px; width: 70px;"}
    = image_tag(comment.author.image.url(:thumb), class: "img-rounded", style: "width: 60px;")
  %div
    %p.text-muted
      = link_to comment.author.full_name, user_path(comment.author), class: "js-tooltip", data: {tooltip: "#{comment.author.first_name}'s intention in this dialogue: #{intention}"}
      on #{print_date(comment.updated_at, time: true)}
      - if comment.updated_at > comment.created_at
        (edited)
      - if current_user == comment.author
        &nbsp;
        = link_to fa_icon("pencil"), edit_comment_path(comment), class: "test-edit-comment"
        &nbsp;
        = link_to fa_icon("trash"), comment_path(comment), method: :delete, class: "text-danger test-delete-comment", "data-confirm": "Really delete this comment?"

    = sanitize(comment.body, tags: %w(h1 h2 h3 p blockquote pre strong em s a ul ol li table thead tbody tr th td img), attributes: %w(href src))
%div{style: "clear: both;"}
