.centered-800
  %h3 Edit comment

  = form_for(comment) do |f|
    = hidden_field_tag "context_type", context.class.to_s
    = hidden_field_tag "context_id", context.id
    .row-padded
      = f.hidden_field :body
      <trix-editor input="comment_body"></trix-editor>
    .row-padded
      = monitor_connection
      = f.submit "Save", class: "btn btn-primary"
