.test-pagination.btn-group
  = link_to "<<", search_path(@search_params.merge(page: 1)), class: "btn btn-default", disabled: (@page == 1)
  = link_to "<", search_path(@search_params.merge(page: @page-1)), class: "btn btn-default", disabled: (@page == 1)
  = link_to @page, "#", class: "btn btn-default strong", disabled: true
  = link_to ">", search_path(@search_params.merge(page: @page+1)), class: "btn btn-default", disabled: (@page == @last_page)
  = link_to ">>", search_path(@search_params.merge(page: @last_page)), class: "btn btn-default", disabled: (@page == @last_page)
