.centered-800

  .well
    %form.form-horizontal{action: search_path, method: :get}
      .form-group
        = label_tag "query", "Search for text:", class: "col-sm-3 control-label"
        .col-sm-9
          = text_field_tag "query", @search_params[:query], class: "form-control test-search-input"
      .form-group
        = label_tag "models", "Result types:", class: "col-sm-3 control-label"
        .col-sm-9
          %select.js-chosen.js-search-models-selector{"data-placeholder": "(All content)", multiple: true}
            - Searcher::SEARCHABLE_MODELS.map(&:to_s).each do |model|
              %option{value: model, selected: (@search_params[:models].include?(model))}
                = label_for_model(model)
          = hidden_field_tag "models", @search_params[:models].join(","), class: "js-search-models-target"
      .row
        .col-sm-3
        .col-sm-9
          = button_tag "Search", class: "btn btn-primary test-search-submit"

  %h4 #{@search.results.total} results

  - if @page > 1 and @last_page > 1
    = render partial: "pagination"
    .blank-space

  - @search.records.each do |record|
    .test-search-result
      - case record.class.to_s
      - when "User"
        = render partial: "users/list_row", locals: {user: record, opts: {in_search: true}}
      - when "Project"
        = render partial: "projects/list_row", locals: {project: record, opts: {in_search: true}}
      - when "Post"
        = render partial: "posts/list_row", locals: {post: record, opts: {in_search: true}}
      - when "Resource"
        = render partial: "resources/list_row", locals: {resource: record, opts: {in_search: true}}
      - else
        - raise "Don't know how to render search result of class #{record.class}!"

  - if @last_page > 1
    .blank-space
    = render partial: "pagination"
