.list-row
  %div{style: "float: left; width: 50px; height: 50px;"}
    = link_to image_tag("icons/conversation.png", class: "img-rounded", style: "width: 100%;"), conversation_path(conversation)
  %div{style: "margin-left: 60px;"}
    - if opts[:in_search]
      .text-muted.small CONVERSATION
    .nowrap.text-ellipsis
      %span.h4= link_to conversation.title, conversation_path(conversation), class: "test-conversation-link"
    .nowrap.text-ellipsis.text-muted
      = sanitize(conversation.comments.first&.body, tags: [])
    .nowrap{style: "padding-left: 8px;"}
      - community = conversation.participants
      - community.limit(5).each do |user|
        = image_tag(user.image.url(:thumb), class: "img-circle", style: "width: 22px; border: 1px solid #fff; margin-left: -8px;")
      - if community.length > 5
        = "+#{community.length - 5}"
      &nbsp;
      - conversation.tag_list.each do |name|
        %span.label.label-default= name
