.centered-800
  %h1 Edit conversation settings

  = form_for @conversation do |f|
    = show_errors_for @conversation

    .row.row-padded
      .col-sm-3
        = label_tag "conversation[title]", "Title"
        = required
      .col-sm-9
        = text_field_tag "conversation[title]", @conversation.title, class: "form-control"
    = render partial: "shared/edit_tags", locals: {object: @conversation}
    .row.row-padded
      .col-sm-3
      .col-sm-9
        %hr
        = monitor_connection
        = submit_tag "Save changes", class: "btn btn-primary"
