.centered-800
  %h1 Edit conversation settings

  = form_for @conversation do |f|
    = show_errors_for @conversation

    .form-group
      = label_tag "conversation[title]", "Title #{required_star}".html_safe
      = text_field_tag "conversation[title]", @conversation.title, class: "form-control"

    .form-group
      = render partial: "shared/edit_tags_1col", locals: {object: @conversation, is_required: false}

    .form-group
      = monitor_connection
      = submit_tag "Save changes", class: "btn btn-primary"
