.row
  .col-md-4
    %h1 Conversations
    %p Conversations are powerful ways to learn, collaborate, and innovate. Use conversations to share your ideas and questions, and respond to those of others.
    %p
      = link_to "Start a topic", new_conversation_path, class: "test-new-conversation-link btn btn-success"
    = render partial: "shared/simple_search_form", locals: {model_name: "Conversation"}

    .alert.alert-info{style: "margin-top: 20px;"}
      %p
        %span.h3 #{fa_icon("bullhorn")} Got something to say?
      %p This site is about connecting minds and ideas to spark meaningful change. We want as many people as possible to benefit from your experience! Consider writing a Medium article on what you've learned, then adding a link here so fellow change-makers can find it.
      %p= link_to fa_icon("pencil") + " Tell your story", "https://medium.com/new-story", target: "_blank", class: "btn btn-primary"

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/conversations.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most active
        - @most_active_conversations.each do |conversation|
          = render partial: "list_row", locals: {conversation: conversation, opts: {}}
        %hr
        %p= link_to "See all", search_path(models: "Conversation")

      .col-sm-5
        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(query: tag.name, models: "Conversation"), class: "#{css_class}"
            &nbsp;

        %h3 Recent comments
        - @recent_comments.each do |comment|
          .list-row
            %div{style: "float: left; width: 50px;"}
              = link_to image_tag(comment.author.image.url(:thumb), class: "img-rounded", style: "width: 100%;"), user_path(comment.author)
            %div{style: "margin-left: 60px;"}
              %div.small.text-muted
                = link_to comment.author.name, user_path(comment.author)
                = "@"
                = print_date comment.created_at, abbreviated: true
              %div.small{style: "height: 48px; text-overflow: ellipsis; overflow: hidden;"}
                = link_to ellipsify(sanitize(comment.body, tags: []), 100), url_for(controller: comment.context_type.downcase.pluralize, action: "show", id: comment.context_id), class: "text-default"
