.row
  .col-md-4
    %h1 Conversations
    %p Conversations are powerful ways to learn, collaborate, and innovate. Use conversations to share your ideas and questions, and respond to those of others.
    %p
      = link_to "Start a topic", new_conversation_path, class: "test-new-conversation-link btn btn-success"
    = render partial: "shared/simple_search_form", locals: {model_name: "Conversation"}
    = render partial: "shared/write_medium_article"

    .hidden-sm.hidden-xs
      = image_tag "conversations_1_portrait_md.jpg", style: "width: 100%;", class: "img-rounded"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most active
        - @most_active_conversations.each do |conversation|
          = render partial: "list_row", locals: {conversation: conversation, opts: {}}
        %hr
        %p= link_to "See all", search_path(classes: "Conversation")

      .col-sm-5
        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(string: tag.name, classes: "Conversation"), class: "#{css_class}"
            &nbsp;

        %h3 Recent comments
        - @recent_comments.each do |comment|
          .list-row
            %div{style: "float: left; width: 50px;"}
              = image_tag(comment.author.image.url(:thumb), class: "img-rounded", style: "width: 100%;")
            %div{style: "margin-left: 60px;"}
              %div.small.text-muted
                = link_to comment.author.name, user_path(comment.author)
                on
                = print_date comment.created_at, abbreviated: true
              %div.small{style: "height: 48px; text-overflow: ellipsis; overflow: hidden;"}
                = link_to ellipsify(sanitize(comment.body, tags: []), 100), url_for(controller: comment.context_type.downcase.pluralize, action: "show", id: comment.context_id), class: "text-default"
