.row
  .col-sm-8
    %h1 New conversation

    = form_for @conversation do |f|
      - if @errors.present?
        .alert.alert-danger
          %div.strong Your changes weren't saved due to the following errors:
          %ul
            - @errors.each do |error|
              %li= error

      .form-group
        = label_tag "conversation[title]", "Title #{required_star}".html_safe
        = text_field_tag "conversation[title]", @conversation.title, class: "form-control"
        = warn_of_length_limit("#conversation_title", 255)

      .form-group
        = render partial: "conversations/form_intention"

      .form-group
        = hidden_field_tag "comment[body]", @comment.body
        <trix-editor input="comment_body"></trix-editor>
        = warn_of_length_limit("#comment_body", 2000)

      .form-group
        = render partial: "shared/edit_tags_1col", locals: {object: @conversation, is_required: false}

      .form-group
        = monitor_connection
        = submit_tag "Start the conversation", class: "btn btn-primary test-start-conversation"

  .col-sm-4
    %div.img-rounded{style: "height: 300px; overflow: hidden;"}
      = image_tag "conversations_#{rand(1..2)}_portrait_md.jpg", style: "width: 100%; margin-top: -100px;"
    %div{style: "padding-top: 10px; margin-bottom: -10px; font-size: 90%;"}
      %p.strong Some tips for awesome conversations:
      %ul
        - new_conversation_tips(3).each do |tip|
          %li= tip

