.row
  .col-sm-8
    %h1 New conversation

    = form_for @conversation do |f|
      - if @errors.present?
        .alert.alert-warning
          %h3 Your changes weren't saved due to the following errors:
          %ul
            - @errors.each do |error|
              %li= error

      .form-group
        = label_tag "conversation[title]", "Title #{required_star}".html_safe
        = text_field_tag "conversation[title]", @conversation.title, class: "form-control"

      .form-group
        = render partial: "conversations/form_intention"

      .form-group
        = hidden_field_tag "comment[body]", @comment.body
        <trix-editor input="comment_body"></trix-editor>

      .form-group
        = render partial: "shared/edit_tags_1col", locals: {object: @conversation}

      .form-group
        = monitor_connection
        = submit_tag "Start the conversation", class: "btn btn-primary test-start-conversation"

  .col-sm-4
    %div{style: "width: 110%; margin-top: -20px; height: 300px; overflow: hidden;"}
      = image_tag "list_images/conversations.jpg", style: "width: 100%; margin-top: -100px;"
    %div{style: "padding-top: 10px;"}
      = render partial: "sidebar_hint"
