.centered-800
  %div
    %span.h1= @conversation.title
    - if current_user == @conversation.creator
      &nbsp;
      = link_to fa_icon("pencil") + " Edit", edit_conversation_path(@conversation), class: "edit-conversation-link"
  %p
    - @conversation.tag_list.each do |name|
      = link_to name, search_path(query: name), class: "btn btn-xs btn-default"

  - @comments.each do |comment|
    = render partial: "comments/show", locals: {comment: comment, intention: @intentions[comment.author_id]}

- if current_user
  .row
    .col-sm-8
      = render partial: "comments/new", locals: {context: @conversation, comment: Comment.new, must_state_intention: @must_state_intention}
    .col-sm-4
      = render partial: "conversations/sidebar_hint"
- else
  .centered-800
    %div{style: "padding-top: 10px;"}
      #{link_to "Log in", new_user_session_path} to join the conversation.
