%h1 All recent notifications

%table.table.all-notifications-list
  - @notifications.each do |n|
    - e = n.event
    %tr.notification{class: n.read? ? "read" : "unread"}
      %td.nowrap= print_date n.created_at, time: true, abbreviated: true
      %td= image_tag(e.image_url, style: "width: 30px;")
      %td
        = link_to e.actor.name, notification_path(n, redirect_to: "actor")
        = e.action_description
        = link_to "\"#{e.target_description}\"", notification_path(n, redirect_to: "target")
  - if unread_notifications_count > 0
    %tr
      %td
      %td
      %td= link_to "Mark all as read", mark_all_read_notifications_path, method: :post, class: "mark-all-notifications-as-read btn btn-warning btn-sm"
