%h1 All recent notifications

%table.table.all-notifications-list
  - @notifications.each do |n|
    %tr.notification{class: n.read? ? "read" : "unread"}
      %td= print_date n.created_at, time: true
      %td= image_tag(n.image_url, style: "width: 30px;")
      %td
        -# = link_to n.sentence, url_for(n.target)
        = link_to n.actor.full_name, notification_path(n, redirect_to: "actor")
        = n.action_description
        = link_to "\"#{n.target_description}\"", notification_path(n, redirect_to: "target")
  - if unread_notifications_count > 0
    %tr
      %td
      %td
      %td= link_to "Mark all as read", mark_all_read_notifications_path, method: :post, class: "mark-all-notifications-as-read btn btn-warning btn-sm"
