.list-row
  %div{style: "float: left; width: 50px; height: 50px;"}
    = link_to image_tag(user.image.url(:thumb), class: "img-rounded", style: "width: 100%;"), user_path(user)
  %div{style: "margin-left: 60px;"}
    - if opts[:in_search]
      .text-muted.small PERSON
    .nowrap.text-ellipsis
      %span.h4= link_to user.name, user_path(user)
    .nowrap.text-ellipsis.text-muted
      = user.tagline
    .nowrap
      - if user.location.present?
        %span.text-muted Based in #{user.location}
      &nbsp;
      - user.interests.each do |name|
        = link_to name, search_path(string: name), class: "label label-default"
