.centered-800
  %h1 Update my profile
  = form_for @user do |f|
    = show_errors_for(@user)

    .form-group
      = f.label :name, "Name #{required_star}".html_safe
      = f.text_field :name, class: "form-control"
      = warn_of_length_limit("#user_name", 255)

    .form-group
      = f.label :image, "Photo #{required_star}".html_safe
      %div
        %div{style: "float: left; width: 50px; height: 50px;"}
          = image_tag(@user.image.url(:thumb), class: "img-rounded", style: "width: 100%;")
        %div{style: "margin-left: 60px;"}
          .hint.small Show us your face! Because we aim for authentic interactions, seeing each other is helpful.
          = f.file_field :image, class: "form-control"

    .form-group
      = f.label :tagline, "One-line summary #{required_star}".html_safe
      .hint.small A short description of what you do and why
      = f.text_field :tagline, class: "form-control"
      = warn_of_length_limit("#user_tagline", 120)

    .form-group
      = f.label :bio
      = f.hidden_field :bio
      <trix-editor input="user_bio" placeholder="Share a little more about your life"></trix-editor>
      = warn_of_length_limit("#user_bio", 1000)

    .form-group
      = f.label :location, "Where I'm based #{required_star}".html_safe
      = f.text_field :location, placeholder: Faker::Nation.capital_city, class: "form-control"
      = warn_of_length_limit("#user_location", 255)

    .form-group
      = f.label :website_url, "My website"
      = f.text_field :website_url, placeholder: "https://www.linkedin.com/my-profile/", class: "form-control"
      = warn_of_length_limit("#user_website_url", 255)

    %h3 More about me
    %p We'd love to learn more about who you are! Pick any or all of the prompts below and fill in the rest of the sentence.

    - if @prompt_errors && @prompt_errors.count > 0
      .alert.alert-danger
        %div There was an error saving your changes:
        %div #{@prompt_errors.join(" ")}

    = render partial: "form_prompts", locals: {filled_prompts: @filled_prompts, unfilled_prompts: @unfilled_prompts}

    .row.row-padded
      .col-sm-3
      .col-sm-9
        = monitor_connection
        .js-monitor-connection
        = f.submit "Save", class: "btn btn-primary test-submit-user-profile", data: {"disable-with": "Saving, please wait..."}
