.centered-1000
  = form_for @user do |f|
    = show_errors_for(@user)

    .row.row-padded
      .col-sm-4
        = f.label :name
        %span.small.em.text-danger required
      .col-sm-8= f.text_field :name, class: "form-control"
    .row.row-padded
      .col-sm-4
        = f.label :email
        .hint.small Where should we send notifications about activity in your network? (optional) Your email address isn't visible to anyone and we won't share it.
      .col-sm-8= f.text_field :email, class: "form-control"
    .row.row-padded
      .col-sm-4
        = f.label :image, "A photo of me"
        .hint.small Show us your face! Because we aim for authentic interactions, seeing each other is helpful.
      .col-sm-8
        = f.file_field :image, class: "form-control"
    .row.row-padded
      .col-sm-4
        = f.label :tagline, "One-line summary"
        %span.small.em.text-danger required
        .hint.small A short description of what you do and why.
      .col-sm-8
        = f.text_field :tagline, class: "form-control"
    .row.row-padded
      .col-sm-4
        = f.label :location, "Where are you based?"
      .col-sm-8
        = f.text_field :location, class: "form-control"

    .row-padded
      With these questions we invite you to show something of your true self!

    .row.row-padded
      .col-sm-4
        = f.label :bio_interior, "Personality, passions, and dreams"
        .hint.small
          %p Share a little about your inner life!
          %ul.less-indent
            %li What traits are you proud to be known for?
            %li What moves or inspires you most?
            %li What future do you dream of?
            %li What makes you feel alive?
      .col-sm-8
        = f.text_area :bio_interior, class: "form-control", style: "height: 120px;"

    .row.row-padded
      .col-sm-4
        = f.label :bio_exterior, "Expertise, work, and goals"
        .hint.small
          %p Tell others about your work in the world.
          %ul.less-indent
            %li What do you do for a living?
            %li What are your professional or career goals?
            %li What skills and experience can you offer?
            %li What are you looking for by being part of this community?
      .col-sm-8
        = f.text_area :bio_exterior, class: "form-control", style: "height: 120px;"

    .row.row-padded
      .col-sm-4
      .col-sm-8
        = monitor_connection
        .js-monitor-connection
        = f.submit "Save", class: "test-submit-user-profile btn btn-primary"
