.centered-1000
  %h1 Update my profile
  = form_for @user do |f|
    = show_errors_for(@user)

    .row.row-padded
      .col-sm-3
        = f.label :name
        %span.small.em.text-danger required
      .col-sm-9= f.text_field :name, class: "form-control"
    .row.row-padded
      .col-sm-3
        = f.label :image, "A photo of me"
        .hint.small Show us your face! Because we aim for authentic interactions, seeing each other is helpful.
      .col-sm-9
        = f.file_field :image, class: "form-control"
    .row.row-padded
      .col-sm-3
        = f.label :tagline, "One-line summary"
        %span.small.em.text-danger required
        .hint.small A short description of what you do and why.
      .col-sm-9
        = f.text_field :tagline, class: "form-control"
    .row.row-padded
      .col-sm-3
        = f.label :location, "Where are you based?"
      .col-sm-9
        = f.text_field :location, class: "form-control"

    %h3 More about me
    %p We'd love to learn more about who you are! We've listed a few prompts below. Pick any that speak to you and fill in the rest of the sentence.

    - if @prompt_errors.present?
      .alert.alert-danger
        %div There was an error saving your changes:
        %div #{@prompt_errors}

    = render partial: "form_prompts", locals: {filled_prompts: @filled_prompts, unfilled_prompts: @unfilled_prompts}

    .row.row-padded
      .col-sm-3
      .col-sm-9
        = monitor_connection
        .js-monitor-connection
        = f.submit "Save", class: "test-submit-user-profile btn btn-primary"
