.row
  .col-md-4
    %h1 People
    %p Use this page to check out our growing community of creative change-makers, get to know others, and introduce yourself.
    %p
      - unless current_user.present?
        = link_to "Join the community", login_url, class: "test-signup-button btn btn-success"

    = render partial: "shared/simple_search_form", locals: {model_name: "User"}
    = render partial: "shared/write_medium_article"

    .hidden-sm.hidden-xs
      = image_tag "people_#{rand(1..2)}_portrait_md.jpg", style: "width: 100%;", class: "img-rounded"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most active
        - @most_active_users.each do |user|
          = render partial: "list_row", locals: {user: user, opts: {}}
        %hr
        %p= link_to "See all", search_path(classes: "User")

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}
