%h1 People
%p <strong>All people are part of our growing community of creative change-makers.</strong><br> Use this page to get to know others, and introduce yourself to them.
- unless user_signed_in?
  %p= link_to "Join the community", new_user_registration_path, class: "btn btn-success"

- @users.each do |user|
  %div
    %hr
    = link_to image_tag(user.image.url(:thumb), style: "float: left; width: 40px; margin-right: 10px;"), user_path(user)
    .title
      %span.h4= link_to user.full_name, user_path(user)
    .dates.text-muted
      Member since #{print_date(user.created_at)}.
      Last seen #{print_date(user.current_sign_in_at, time: true)}
