%h1.float-left= @user.name
%div.float-left{style: "padding-top: 30px; padding-left: 30px;"}
  = link_to "Edit", edit_user_path(@user) if @user == current_user
.clearfloat

.row
  .col-sm-3
    = image_tag(@user.image.url(:medium), style: "width: 100%;") if @user.image_file_name

  .col-sm-9


    %table.form
      %tr
        %th Name
        %td= @user.name
      %tr
        %th Member since
        %td= @user.created_at.to_date
      %tr
        %th I'm good at... (professional or not)
        %td
          - @user.skill_list.each do |skill|
            %span.label.label-default= skill
      %tr
        %th I'm passionate about...
        %td
          - @user.passion_list.each do |passion|
            %span.label.label-default= passion
      %tr
        %th I'm proud to be known for these traits...
        %td
          - @user.trait_list.each do |trait|
            %span.label.label-default= trait
      %tr
        %th I dream of a future where...
        %td= @user.dream_of_future_where

- if @user.created_resources.any?
  %h3 Resources I've contributed

  - @user.created_resources.each do |resource|
    .resource
      %p
        %strong= link_to resource.title, resource.url, target: "_blank"
        &nbsp;
        = link_to "Edit", edit_resource_path(resource) if @user == current_user
        &nbsp;
        - if resource.attachment_file_name
          = link_to "Download", resource.attachment.url, download: true
      %p= resource.description
      %hr

  %p= link_to "Add another resource", new_resource_path(editing_user_profile: true)

- else
  %h3 Learn more about my work
  %p Use this space to add any documents or online resources that could be of use to other community members.
  %p= link_to "Add a resource", new_resource_path(editing_user_profile: true)
