- if current_user == @user and @user.first_name.blank?
  .alert.alert-warning
    %strong We don't even know your name yet!
    Once you fill in your profile information, you'll have full access to contribute to discussions, contact project owners, etc.
    = link_to "Fill in my profile info", edit_user_path(current_user)

.row
  .col-sm-8
    %div{style: "padding-bottom: 10px;"}
      %span.h1= @user.full_name || "Nameless Cool Person"
      - if current_user == @user
        &nbsp;
        = link_to fa_icon("pencil") + " Edit my profile", edit_user_path(@user), class: "test-edit-user"

    .visible-xs{style: "max-width: 200px; margin-left: auto; margin-right: auto;"}
      = image_tag @user.image.url(:medium), style: "width: 100%;"

    %p= @user.tagline

    - if @user.location.present?
      %p Based in #{@user.location}

    %p Member since #{print_date @user.created_at}

    %h3 My personality, dreams, and passions
    = simple_format(@user.bio_interior)

    %h3 My expertise, work, and goals
    = simple_format(@user.bio_exterior)

  .col-sm-4
    = image_tag @user.image.url(:medium), style: "width: 100%;", class: "hidden-xs"

    %hr

    %div
      = render partial: "shared/likes_section", locals: { target: @user, link_wording: "#{@user.first_name} inspires me" }
      = render partial: "shared/stay_informed_flags_section", locals: { target: @user, link_wording: "Follow #{@user.first_name}" }
      - unless current_user == @user
        %span= link_to fa_icon("envelope"), new_message_path(message: {recipient_id: @user.id}), class: "btn btn-info js-tooltip", title: "Send #{@user.first_name} a message"

%h3 My contributions
.row
  - if @projects.any? or true
    .col-sm-4
      %h4 Projects
      - @projects.each do |project|
        = render partial: "projects/list_row", locals: {project: project, opts: {in_search: true}}

  - if @resources.any? or true
    .col-sm-4
      %h4 Resources
      - @resources.each do |resource|
        = render partial: "resources/list_row", locals: {resource: resource, opts: {in_search: true}}

  - if @posts.any? or true
    .col-sm-4
      %h4 Discussions
      - @posts.each do |post|
        = render partial: "posts/list_row", locals: {post: post.root, opts: {in_search: true}}
      - if @count_drafts and @count_drafts > 0
        %p= link_to "#{pluralize @count_drafts, "draft"}", drafts_posts_path, class: "btn btn-default"
