- if current_user == @user and @user.name.blank?
  .alert.alert-warning
    %strong You haven't provided your name yet!
    Once you add your name to your profile, you can contribute new content to the community and others can find you more easily.
    = link_to "Add my name", edit_user_path(current_user)

%h1.float-left= @user.name
.float-left{style: "padding-top: 15px; padding-left: 30px;"}
  = link_to "Edit profile info", edit_user_path(@user) if current_user == @user
.clear-float

.row
  .col-sm-8
    %table.table
      %tr
        %th I'm passionate about...
        %td= @user.self_passions
      %tr
        %th I'm good at...
        %td= @user.self_skills
      %tr
        %th I'm proud to be known for these traits...
        %td= @user.self_proud_traits
      %tr
        %th The weakness(es) I’m currently trying to overcome...
        %td= @user.self_weaknesses
      %tr
        %th How I would like to evolve is...
        %td= @user.self_evolve
      %tr
        %th I dream of a future where...
        %td= @user.self_dreams
      %tr
        %th What I’m looking for at Integral Climate Hub...
        %td= @user.self_looking_for
      %tr
        %th Member since
        %td= print_date @user.created_at
      %tr
        %th I currently work at/as...
        %td= @user.self_work_at
      %tr
        %th My professional goals are...
        %td= @user.self_professional_goals
      %tr
        %th My major fields of expertise and experience are...
        %td= @user.self_fields_of_expertise

  .col-sm-4
    = image_tag(@user.image.url(:medium), style: "width: 100%;") if @user.image_file_name

.row
  .col-sm-6
    %h3 Resources
    - if @user.created_resources.any?
      %ul
        - @user.created_resources.each do |resource|
          = render partial: "resources/show_li", locals: { resource: resource }
      %hr
      - if current_user == @user
        %p= link_to "Add another resource", new_resource_path(editing_user_profile: true)
    - else
      %p #{@user.name} hasn't contributed any resources yet.
      - if current_user == @user
        %p Use this space to add any documents or online resources that could be of use to other community members. #{link_to "Add a resource", new_resource_path(editing_user_profile: true)}

  .col-sm-6
    %h3 Recent posts
    - if @posts.any?
      - @posts.each do |post|
        %h4.float-left= link_to post.title, post_path(post)
        .float-left.small{style: "padding-top: 13px; padding-left: 13px;"} published #{print_date post.published_at}
        .clear-float
        %p
          = post.intention_statement
          %span.label.label-primary= link_to post.intention_type, posts_path(intention_type: post.intention_type)
          - post.tag_list.each do |tag|
            %span.label.label-default= link_to tag, posts_path(tag: tag)
    - else
      %p #{@user.name} hasn't written anything yet.
