.row
  .col-sm-8
    %div{style: "padding-bottom: 10px;"}
      %div.visible-xs{style: "float: left; width: 40px; margin-right: 10px;"}
        = image_tag @user.image.url(:thumb), class: "img-circle", style: "width: 100%;"
      %h1= @user.name

    .row
      .col-sm-6

        - if @user.tagline.present?
          %p
            %strong Tagline:
            = @user.tagline

        %p
          %strong Member since:
          = print_date @user.created_at

      .col-sm-6

        - if @user.location.present?
          %p
            %strong Based in:
            = @user.location

        - if @user.website_url.present?
          %p
            %strong Website:
            = link_to @user.website_url, @user.website_url, target: "_blank"

        - if current_user == @user
          %p= link_to fa_icon("pencil") + " Edit my profile", edit_user_path(@user), class: "test-edit-user"

    - if @user.bio.present?
      %p.strong Bio:
      .comment-box-shadow
        = sanitize(@user.bio, tags: %w(h1 h2 h3 p div br blockquote pre strong em s a ul ol li table thead tbody tr th td img), attributes: %w(href src))

    - if @user.profile_prompts.any?
      %h4 More about me
      %ul
        - @user.profile_prompts.each do |prompt|
          %li
            %span{style: "color: #555;"}= prompt.stem
            %span{style: ""}= ensure_ending_period(prompt.response)

  .col-sm-4
    = image_tag @user.image.url, style: "width: 100%;", class: "img-rounded hidden-xs"

    %hr

    %div
      = render partial: "shared/likes_section", locals: { target: @user, link_wording: "#{@user.name} inspires me" }
      = render partial: "shared/stay_informed_flags_section", locals: { target: @user, link_wording: "Follow #{@user.name}" }
      - unless current_user == @user
        %span= link_to fa_icon("envelope"), new_message_path(message: {recipient_id: @user.id}), class: "btn btn-info js-tooltip", title: "Send #{@user.name} a message"

%h3 My contributions

.row
  - @projects.each do |project|
    .col-sm-4{style: "height: 100px;"}
      = render partial: "projects/list_row", locals: {project: project, opts: {in_search: true}}

  - @resources.each do |resource|
    .col-sm-4{style: "height: 100px;"}
      = render partial: "resources/list_row", locals: {resource: resource, opts: {in_search: true}}

  - @participating_in_conversations.each do |conversation|
    .col-sm-4{style: "height: 100px;"}
      = render partial: "conversations/list_row", locals: {conversation: conversation, opts: {in_search: true}}
