- if current_user == @user and @user.first_name.blank?
  .alert.alert-warning
    %strong We don't even know your name yet!
    Once you fill in your profile information, you'll have full access to contribute to discussions, contact project owners, etc.
    = link_to "Fill in my profile info", edit_user_path(current_user)

.row
  .col-sm-8
    %div{style: "padding-bottom: 10px;"}
      %span.h1= @user.full_name || "Nameless Cool Person"
      - if current_user == @user
        &nbsp;
        = link_to fa_icon("pencil") + " Edit my profile", edit_user_path(@user), class: "edit-user"

    .visible-xs{style: "max-width: 200px; margin-left: auto; margin-right: auto;"}
      = image_tag @user.image.url(:medium), style: "width: 100%;"

    %p= @user.tagline

    - if @user.location.present?
      %p Based in #{@user.location}

    %p Member since #{print_date @user.created_at}

    %h3 My personality, dreams, and passions
    = simple_format(@user.bio_interior)

    %h3 My expertise, work, and goals
    = simple_format(@user.bio_exterior)

  .col-sm-4
    = image_tag @user.image.url(:medium), style: "width: 100%;", class: "hidden-xs"

    %hr

    %div
      = render partial: "shared/likes_section", locals: { target: @user, link_wording: "#{@user.first_name} inspires me" }
      = render partial: "shared/stay_informed_flags_section", locals: { target: @user, link_wording: "Follow #{@user.first_name}" }
      - unless current_user == @user
        %span= link_to fa_icon("envelope"), new_message_path(message: {recipient_id: @user.id}), class: "btn btn-info js-tooltip", title: "Send #{@user.first_name} a message"

.row
  .col-sm-6
    %h3 Resources I've contributed
    - if @user.created_resources.any?
      %ul
        - @user.created_resources.each do |resource|
          = render partial: "resources/show_li", locals: { resource: resource }
      - if current_user == @user
        %p= link_to fa_icon("plus") + " Add a resource", new_resource_path(editing_user_profile: true)
    - elsif @user.first_name.present?
      %p #{@user.first_name} hasn't contributed any resources yet.
      - if current_user == @user
        .hint Use this space to add any documents or online resources that could be of use to other community members. #{link_to fa_icon("plus") + " Add a resource", new_resource_path(editing_user_profile: true)}

  .col-sm-6
    %h3 Recently discussed
    - if @posts.any?
      - @posts.each do |post|
        %div{style: "padding-top: 10px;"}
          %span.h4= link_to post.title, post_path(post)
          &nbsp; published #{print_date post.published_at}
          %br
          - post.tag_list.each do |name|
            = link_to name, search_posts_path(tags: name), class: "small"
            &nbsp;
    - elsif @user.first_name.present?
      %p #{@user.first_name} hasn't written anything yet.

    - if current_user == @user
      %p{style: "padding-top: 10px;"}= link_to fa_icon("plus") + " Write something", posts_path, method: :post
