- if current_user == @user and @user.name.blank?
  .alert.alert-warning
    %strong You haven't provided your name yet!
    Once you add your name to your profile, you can contribute new content to the community and others can find you more easily.
    = link_to "Add my name", edit_user_path(current_user)

.row
  .col-sm-8
    %div{style: "padding-bottom: 10px;"}
      %span.h1= @user.name
      &nbsp;
      = link_to fa_icon("pencil") + " Update my profile", edit_user_path(@user) if current_user == @user

    .visible-xs{style: "max-width: 200px; margin-left: auto; margin-right: auto;"}
      = image_tag @user.image.url(:medium), style: "width: 100%;", class: "image-framed"

    %table.table
      %tr
        %th Member since
        %td= print_date @user.created_at
      - if @user.self_passions.present?
        %tr
          %th I'm passionate about...
          %td= @user.self_passions
      - if @user.self_skills.present?
        %tr
          %th I'm good at...
          %td= @user.self_skills
      - if @user.self_proud_traits.present?
        %tr
          %th I'm proud to be known for these traits...
          %td= @user.self_proud_traits
      - if @user.self_weaknesses.present?
        %tr
          %th The weakness(es) I’m currently trying to overcome...
          %td= @user.self_weaknesses
      - if @user.self_evolve.present?
        %tr
          %th How I would like to evolve is...
          %td= @user.self_evolve
      - if @user.self_dreams.present?
        %tr
          %th I dream of a future where...
          %td= @user.self_dreams
      - if @user.self_looking_for.present?
        %tr
          %th What I’m looking for at Integral Climate Hub...
          %td= @user.self_looking_for
      - if @user.self_work_at.present?
        %tr
          %th I currently work at/as...
          %td= @user.self_work_at
      - if @user.self_professional_goals.present?
        %tr
          %th My professional goals are...
          %td= @user.self_professional_goals
      - if @user.self_fields_of_expertise.present?
        %tr
          %th My major fields of expertise and experience are...
          %td= @user.self_fields_of_expertise

  .col-sm-4
    = image_tag @user.image.url(:medium), style: "width: 100%;", class: "image-framed hidden-xs"

.row
  .col-sm-6
    %h3 Resources
    - if @user.created_resources.any?
      %ul
        - @user.created_resources.each do |resource|
          = render partial: "resources/show_li", locals: { resource: resource }
      - if current_user == @user
        %p= link_to fa_icon("plus") + " Add a resource", new_resource_path(editing_user_profile: true)
    - else
      %p
        #{@user.name} hasn't contributed any resources yet.
        - if current_user == @user
          Use this space to add any documents or online resources that could be of use to other community members. #{link_to "Add a resource", new_resource_path(editing_user_profile: true)}

  .col-sm-6
    %h3 Recent posts
    - if @posts.any?
      - @posts.each do |post|
        %div{style: "padding-top: 10px;"}
          %span.h4= link_to post.title, post_path(post)
          &nbsp; published #{print_date post.published_at}
          %br
          - post.tag_list.each do |name|
            = link_to name, posts_path(tags: name, author_id: @user.id), class: "small"
            &nbsp;
    - else
      %p #{@user.name} hasn't written anything yet.

    - if current_user == @user
      %p{style: "padding-top: 10px;"}= link_to fa_icon("plus") + " Write something", posts_path, method: :post
