.row
  .col-sm-8
    %div{style: "padding-bottom: 10px;"}
      %span.h1= @user.name || "Nameless Cool Person"
      - if current_user == @user
        &nbsp;
        = link_to fa_icon("pencil") + " Edit my profile", edit_user_path(@user), class: "test-edit-user"

    .visible-xs{style: "max-width: 200px; margin-left: auto; margin-right: auto;"}
      = image_tag @user.image.url(:medium), style: "width: 100%;"

    %p= @user.tagline

    - if @user.location.present?
      %p Based in #{@user.location}

    %p Member since #{print_date @user.created_at}

    - if @user.profile_prompts.any?
      %h4 More about me
      %ul
        - @user.profile_prompts.each do |prompt|
          %li
            %span{style: "color: #555;"}= prompt.stem
            %span{style: ""}= ensure_ending_period(prompt.response)

  .col-sm-4
    = image_tag @user.image.url(:medium), style: "width: 100%;", class: "img-rounded hidden-xs"

    %hr

    %div
      = render partial: "shared/likes_section", locals: { target: @user, link_wording: "#{@user.name} inspires me" }
      = render partial: "shared/stay_informed_flags_section", locals: { target: @user, link_wording: "Follow #{@user.name}" }
      - unless current_user == @user
        %span= link_to fa_icon("envelope"), new_message_path(message: {recipient_id: @user.id}), class: "btn btn-info js-tooltip", title: "Send #{@user.name} a message"

%h3 My contributions
.row
  - if @projects.any? or true
    .col-sm-4
      %h4 Projects
      - @projects.each do |project|
        = render partial: "projects/list_row", locals: {project: project, opts: {in_search: true}}

  - if @resources.any? or true
    .col-sm-4
      %h4 Resources
      - @resources.each do |resource|
        = render partial: "resources/list_row", locals: {resource: resource, opts: {in_search: true}}

  - if @participating_in_conversations.any? or true
    .col-sm-4
      %h4 Conversations
      - @participating_in_conversations.each do |conversation|
        = render partial: "conversations/list_row", locals: {conversation: conversation, opts: {in_search: true}}
