- if current_user == @user and @user.name.blank?
  .alert.alert-warning
    %strong You haven't provided your name yet!
    Once you add your name to your profile, you can contribute new content to the community and others can find you more easily.
    = link_to "Add my name", edit_user_path(current_user)

%h1.float-left= @user.name
.float-left{style: "padding-top: 30px; padding-left: 30px;"}
  = link_to "Edit", edit_user_path(@user) if @user == current_user
.clear-float

.float-right= image_tag(@user.image.url(:medium), style: "width: 100%;") if @user.image_file_name

%table.table
  %tr
    %th I'm passionate about...
    %td= @user.self_passions
  %tr
    %th I'm good at...
    %td= @user.self_skills
  %tr
    %th I'm proud to be known for these traits...
    %td= @user.self_proud_traits
  %tr
    %th The weakness(es) I’m currently trying to overcome...
    %td= @user.self_weaknesses
  %tr
    %th How I would like to evolve is...
    %td= @user.self_evolve
  %tr
    %th I dream of a future where...
    %td= @user.self_dreams
  %tr
    %th What I’m looking for at Integral Climate Hub...
    %td= @user.self_looking_for
  %tr
    %th Member since
    %td= print_date @user.created_at
  %tr
    %th I currently work at/as...
    %td= @user.self_work_at
  %tr
    %th My professional goals are...
    %td= @user.self_professional_goals
  %tr
    %th My major fields of expertise and experience are...
    %td= @user.self_fields_of_expertise

.row
  - if @user.created_resources.any?
    .col-sm-6
      %h3 Resources I've contributed
      - @user.created_resources.each do |resource|
        .resource
          %p
            %strong= link_to resource.title, resource.url, target: "_blank"
            &nbsp;
            = link_to "Edit", edit_resource_path(resource) if @user == current_user
            &nbsp;
            - if resource.attachment_file_name
              = link_to "Download", resource.attachment.url, download: true
          %p= resource.description
      %hr
      %p= link_to "Add another resource", new_resource_path(editing_user_profile: true)
  - elsif @user == current_user
    .col-sm-6
      %h3 Tell other members about my work
      %p Use this space to add any documents or online resources that could be of use to other community members.
      %p= link_to "Add a resource", new_resource_path(editing_user_profile: true)

  - if @posts.any?
    .col-sm-6
      %h3 Recent posts
      - @posts.each do |post|
        %h4.float-left= link_to post.title, post_path(post)
        .float-left.small{style: "padding-top: 13px; padding-left: 13px;"} published #{print_date post.published_at}
        .clear-float
        %p
          = post.intention_statement
          %span.label.label-primary= link_to post.intention_type, posts_path(intention_type: post.intention_type)
          - post.tag_list.each do |tag|
            %span.label.label-default= link_to tag, posts_path(tag: tag)
