%div
  - object_name = object.class.to_s.downcase

  = label_tag "#{object_name}[tag_list]", "Tags"
  - if object.is_a?(Project)
    = required
  .hint.small Specify up to 3 relevant themes that help people discover your #{object_name}.

  = text_field_tag "#{object_name}[tag_list]", object.tag_list.sort.join(","), class: "js-hidden"
  %ul.js-tagit{ id: "#{object_name}-tags-tagit", data: { "tagit-target": "##{object_name}_tag_list", "tag-limit": 3, "available-tags": self.send("popular_#{object_name}_tags", 30) }}
  .small.js-hide-if-tagit-limit-exceeded
    %strong Common tags:
    - PredefinedTag.all.order(:name).each do |tag|
      &nbsp;
      = link_to(tag.name, "#", class: "js-add-tag", "data-target": "##{object_name}-tags-tagit")
  .js-show-if-tagit-limit-exceeded.js-hidden
    %strong.text-danger You can only add 3 tags to this field.
    Please remove some tags before adding more.
