- known_actor_ids = []
- events.each do |event|
  - next if event.target.nil?
  .list-row
    %div{style: "float: left; width: 50px;"}
      = link_to image_tag(event.actor.image.url(:thumb), class: "img-rounded", style: "width: 100%;"), user_path(event.actor)
    %div{style: "margin-left: 60px;"}
      %div.small.text-muted
        = print_date event.created_at, time: true
      %div
        = link_to event.actor.name, user_path(event.actor)
        = event.action_description
        - if event.target_description
          = link_to ellipsify(event.target_description, 25), url_for(event.target)
