#main-container.container-fluid

  .visible-sm.visible-xs
    %h1.text-center Welcome to the Thrivability Lab.
  .hidden-sm.hidden-xs{style: "margin-top: -10px;"}
    .carousel.slide.carousel-fade{"data-ride": "carousel", "data-interval": 5000, "data-pause": "", style: "position: relative; width: 100%;"}
      .static-title
        %h1.text-center Welcome to the Thrivability Lab.
      .carousel-inner{role: "listbox", style: "position: absolute; width: 100%;"}
        .item.active
          = image_tag("homepage_banner/bg1.jpg", style: "width: 100%;")
        .item
          = image_tag("homepage_banner/bg2.jpg", style: "width: 100%;")
        .item
          = image_tag("homepage_banner/bg3.jpg", style: "width: 100%;")
        .item
          = image_tag("homepage_banner/bg4.jpg", style: "width: 100%;")
        .item
          = image_tag("homepage_banner/bg5.jpg", style: "width: 100%;")

  .row
    .col-sm-6
      %h3 Our Mission
      %p <em>Thrivability Lab</em> is a platform where anybody with interest in climate and sustainability can come to be informed, inspired, and empowered. In this way we aim to support people to connect, share, and learn and grow together, as well as bring more visibility, collaboration, and impact to their initiatives.
      %p <em>Integral Climate</em> refers to the recognition that our planetary challenges demand changes in our inner climate (our psychology, culture, and worldviews) as much as in our outer climate (our behavior, economy, and systems). In other words, we think climate change is as much about human development and cultural change as it is about an energy and systems transition!
      %p Our hub is designed with the intention to support high quality conversations, intentionality, creative action, and integrative perspectives. We believe these qualities shape more generative ways of addressing global issues.
      %p Hence, we’ve designed this platform to serve as a tool not only for <em>what</em> we talk about, but also for <em>how</em> we talk about it, hoping to support more creative, effective, and integrative responses to climate change to emerge.
    .col-sm-6
      %h3 Our Vision
      %p In time, we envision transforming our <em>Climate Hub</em> into an <em>Integral World Hub</em> ~ a hub where people from all over the globe can collaborate on awide range of projects and initiatives, including everything needed to "birth" a more integral world into being, from health to education, politics to organizational change.
      %p Currently, there is no platform where integral folks can collaborate in a peer-to-peer fashion. This hub could support them to do so, and start exercising their leadership potentials in more powerful ways.
      %p It could also mobilize people beyond the integral movement, supported by the inspiring and uniting vision of a more integral world, and empowered by more integral perspectives.
      %p We aspire this to become a platform where people reinvent themselves and movements join hand, working together in more effective ways. Where we inform and empower each other, multiplying our impact through the power of community. Where <em>We The People</em> birth a new, more integral world into being, through the power of imagination and collaboration.

  .row
    .col-sm-6
      %h3 Our Values
      %p We value:
      %ul
        %li Whole-self engagement that is authentic, intentional, mindful
        %li The power of community and creative collaboration
        %li Attempts to create a better world, for all of life
        %li Creative commons and sharing of resources
    .col-sm-6
      %h3 Our Design
      %p With our design we aim to:
      %ul
        %li Use technology to connect, inspire, and empower people around the globe
        %li Foster intentional engagement and mindfulness (vs. distraction and shallow entertainment)
        %li Offer a platform that is clean and simple, yet attractive and uplifting
        %li Offer a platform that is transparent, replicable, and open source.

  .row
    .col-sm-6
      %h3 Our Team
      - @team.each do |user|
        %div{style: "min-height: 60px;"}
          = link_to image_tag(user.image.url(:thumb), class: "img-rounded", style: "float: left; width: 50px;"), user_path(user)
          %div{style: "margin-left: 60px;"}
            %span.h4
              = link_to user.full_name, user_path(user)
            .text-muted.nowrap
              = user.tagline

    .col-sm-6
      %h3 Your Contribution
      %p Are you interested in supporting our project? Please #{mail_to "annickdewitt@gmail.com", "drop us a line"} and let us know how you’d like to contribute! We deeply believe in creative collaboration, and these values also apply to how we build and maintain this platform.
