%h1.text-center We're Integral Climate.

.row
  .col-sm-2
  .col-sm-8
    %h3 Our Mission
    %p Our ambition is to create a global, open, village minded climate hub, which supports people to connect, share information, and learn and grow together. Integral Climate Hub is a platform where anybody with interest in climate and sustainability can come to be inspired, informed, and empowered. Its aim is to bring more visibility, creative collaboration, and empowerment to existing and newly emerging climate and sustainability projects. The name of this global hub refers to the recognition that addressing our planetary challenges demand changes in our inner climate (our psychology and culture, our values and worldviews) as much as in our outer climate (our behaviour and economy, our practices and systems) ~ hence, Integral Climate.
    %p This hub is designed with an experimental approach aiming for high quality conversations and cooperation, intending to support qualities such as self-reflection, deep engagement, intentionality, inclusive thinking, and integrative perspectives. In our eyes, these qualities tend to shape more rewarding and generative ways of addressing global climate issues. Hence, we’ve designed this platform to serve as a tool not only for what we talk about, but also how we talk about it. In that sense, the platform itself can be seen as a scaffolding for more creative, effective, and integrative responses to climate change to emerge.

.row
  .col-sm-6
    %h3 We value
    %ul
      %li Intentional, generative conversation and interaction
      %li Community and creative collaboration
      %li Whole-self engagement fostering authenticity, creativity, and mindfulness
      %li Striving for a better world, for all of life
      %li Creative commons and sharing of resources
      %li Self-responsibility, curiosity, and generosity
  .col-sm-6
    %h3 We've designed Integral Climate to be
    %ul
      %li Transparent, replicable, open source
      %li Clean and simple
      %li In service of engagement and mindfulness (instead of distraction, absent-mindedness)
      %li Elegantly structured and with great flexibility in how resources are organized
      %li Attractive, uplifting, and designed for a global audience
      %li Using technology to connect and inspire individuals around the globe

%h2.text-center Our team
.row
  - @team.each do |user|
    .col-sm-6{style: "padding-bottom: 10px;"}
      = image_tag user.image.url(:medium), style: "float: right; width: 20%;", class: "image-framed"
      %h3= link_to user.full_name, user_path(user)
      - if user.self_dreams.present?
        %p
          %strong My dreams:
          = user.self_dreams
      - if user.self_passions.present?
        %p
          %strong My passions:
          = user.self_passions
      - if user.self_skills.present?
        %p
          %strong My skills:
          = user.self_skills
      - if user.self_proud_traits.present?
        %p
          %strong I'm proud of:
          = user.self_proud_traits
      - if user.self_weaknesses.present?
        %p
          %strong My weakness:
          = user.self_weaknesses
      - if user.self_evolve.present?
        %p
          %strong I'd like to evolve into:
          = user.self_evolve
      - if user.self_looking_for.present?
        %p
          %strong I'm looking for:
          = user.self_looking_for
      - if user.self_work_at.present?
        %p
          %strong My current work:
          = user.self_work_at
      - if user.self_professional_goals.present?
        %p
          %strong My professional goals:
          = user.self_professional_goals
      - if user.self_fields_of_expertise.present?
        %p
          %strong My fields of expertise:
          = user.self_fields_of_expertise
