#main-container.container-fluid

  .visible-sm.visible-xs
    %h1.text-center Integral Climate is...
  .hidden-sm.hidden-xs{style: "margin-top: -10px;"}
    .carousel.slide.carousel-fade{"data-ride": "carousel", "data-interval": 5000, "data-pause": "", style: "position: relative; width: 100%;"}
      .static-title
        %h1.text-center Integral Climate is...
      .carousel-inner{role: "listbox", style: "position: absolute; width: 100%;"}
        .item.active
          = image_tag("homepage_banner/bg1.jpg", style: "width: 100%;")
          .carousel-caption Helping nature do what it does best
        .item
          = image_tag("homepage_banner/bg2.jpg", style: "width: 100%;")
          .carousel-caption Aligning our actions with each other and with the systems that surround us
        .item
          = image_tag("homepage_banner/bg3.jpg", style: "width: 100%;")
          .carousel-caption A network of change initiatives that's more than the sum of its parts
        .item
          = image_tag("homepage_banner/bg4.jpg", style: "width: 100%;")
          .carousel-caption Tools and resources for enacting our values in the world
        .item
          = image_tag("homepage_banner/bg5.jpg", style: "width: 100%;")
          .carousel-caption A congregation point for the sustainability economy blah blah


  .row

    .col-sm-6
      %h4.text-center #{@users_count} people envisioning a sustainable society
      %div{style: 'position: relative;'}
        - @featured_users.each do |user|
          %div{style: 'float: left; width: 19.9%; padding: 0.5%;'}
            = link_to image_tag(user.image.url(:thumb), style: "width: 100%;", class: "js-popover img-rounded", data: { toggle: "popover", trigger: "hover", placement: "top", content: user.full_name }), user_path(user)
        .clear-float
      %p.text-center.row-padded-top= link_to "Meet people", users_path, class: "btn btn-success"

    .col-sm-6
      %h4.text-center #{@projects_count} projects creatively changing the world
      %div{style: "position: relative;"}
        - @featured_projects.each do |project|
          %div{style: "float: left; width: 19.9%; padding: 0.5%; overflow: hidden;"}
            = link_to image_tag(project.image.url(:thumb), style: "width: 100%;", class: "js-popover img-rounded", data: {toggle: "popover", trigger: "hover", placement: "top", html: "true", content: content_for_project_popover(project)}), project_path(project)
        .clear-float
      %p.text-center.row-padded-top= link_to "Discover projects", projects_path, class: "btn btn-success"

  %hr

  .row

    .col-sm-6
      %h4.text-center #{@posts_count} conversations exploring ideas
      .row
        .col-sm-4{style: "padding-top: 10px;"}
          %div{style: "height: 150px; overflow: hidden;"}
            = image_tag "list_images/conversations.jpg", style: "width: 100%; margin-top: -40px;"
        .col-sm-8

          %ul{style: "margin-left: -20px;"}
            - @featured_posts.each do |post|
              %li= link_to post.title, post_path(post)
      %p.text-center= link_to "Join conversations", posts_path, class: "btn btn-success"

    .col-sm-6
      %h4.text-center #{@resources_count} resources empowering transformation
      .row
        .col-sm-4{style: "padding-top: 10px;"}
          %div{style: "height: 150px; overflow: hidden;"}
            = image_tag "list_images/resources.jpg", style: "width: 100%; margin-top: -40px;"
        .col-sm-8

          %ul{style: "margin-left: -20px;"}
            - @featured_resources.each do |resource|
              %li= link_to resource.title, resource_path(resource)
      %p.text-center= link_to "Explore resources", resources_path, class: "btn btn-success"

  %hr

  .row
    .col-sm-3
    .col-sm-6
      %h4.text-center What's happening now
      - @recent_events.each do |event|
        %div.clear-float
          %div{style: "width: 50px; height: 50px; float: left; padding-right: 10px;"}
            = link_to image_tag(event.user.image.url(:thumb), class: "img-rounded", style: "width: 100%;"), user_path(event.user)
          %div.small.text-muted= print_date event.datetime, time: true
          %div
            = link_to event.user.full_name, user_path(event.user)
            = event.action_description
            = "the #{event.target.class.to_s.downcase}" unless event.target.is_a? User
            = link_to event.target_description, url_for(event.target)
