#main-container.container-fluid

  %div{style: "width: 400px; margin-left: auto; margin-right: auto; margin-top: -20px;"}
    %h2.text-center.text-info What do you care about?
    %form{action: search_path, method: "GET"}
      .input-group
        %input.form-control{type: "text", autofocus: true, placeholder: "Enter your life dreams here", name: "string"}
        .input-group-btn
          %button.btn.btn-success{type: "submit"}
            %i.fa.fa-search
            Start discovering

  %h2 Thriveability Lab is:
  %div.text-muted{style: "margin-top: -10px;"}
    Inspiration, sharing, collaboration, and experimentation for planetary thriving. #{link_to "More about us", about_path}

  .row
    .col-sm-6
      %h3 People working towards flourishing
      .row
        .col-sm-9
          - @users.each do |user|
            = render partial: "users/list_row", locals: {user: user, opts: {}}
          = link_to "+ #{User.count - @users.count} more", users_path
        .col-sm-3
          %div.img-rounded{style: "overflow: hidden;"}
            = image_tag "people_#{rand(1..2)}_portrait_md.jpg", style: "height: 200px;", class: "hidden-xs"
    .col-sm-6
      %h3 Projects for meaningful change
      .row
        .col-sm-9
          - @projects.each do |project|
            = render partial: "projects/list_row", locals: {project: project, opts: {}}
          = link_to "+ #{Project.count - @projects.count} more", projects_path
        .col-sm-3
          %div.img-rounded{style: "overflow: hidden;"}
            = image_tag "projects_#{rand(1..2)}_portrait_md.jpg", style: "height: 200px;", class: "hidden-xs"
  .blank-space
  .row
    .col-sm-6
      %h3 A space for dialogue & collaboration
      .row
        .col-sm-9
          - @conversations.each do |c|
            = render partial: "conversations/list_row", locals: {conversation: c, opts: {}}
          = link_to "+ #{Conversation.count - @conversations.count} more", conversations_path
        .col-sm-3
          %div.img-rounded{style: "overflow: hidden;"}
            = image_tag "conversations_#{rand(1..2)}_portrait_md.jpg", style: "height: 200px;", class: "hidden-xs"
    .col-sm-6
      %h3 Resources for impact-makers
      .row
        .col-sm-9
          - @resources.each do |resource|
            = render partial: "resources/list_row", locals: {resource: resource, opts: {}}
          = link_to "+ #{Resource.count - @resources.count} more", resources_path
        .col-sm-3
          %div.img-rounded{style: "overflow: hidden;"}
            = image_tag "resources_#{rand(1..2)}_portrait_md.jpg", style: "height: 200px;", class: "hidden-xs"
