#main-container.container

  %div{style: "width: 400px; margin-left: auto; margin-right: auto;"}
    %h2.text-center.text-info What do you care about?
    %form{action: search_path, method: "GET"}
      .input-group
        %input.form-control{type: "text", autofocus: true, placeholder: "Enter your life dreams here", name: "query"}
        .input-group-btn
          %button.btn.btn-success{type: "submit"}
            %i.fa.fa-search
            Start discovering

  .blank-space

  %h2.text-center Integral Climate is...

  .row
    .col-sm-7
      %h3.text-center People working towards sustainability
    .col-sm-5
      / spacer above image
  .row
    .col-sm-7
      - @users.each do |user|
        = render partial: "users/list_row", locals: {user: user, opts: {}}
      = link_to "+ #{User.count - @users.count} more", users_path, class: "btn btn-default"
    .col-sm-5
      = image_tag "homepage/people1.jpg", style: "width: 100%;", class: "hidden-xs"

  .blank-space

  .row
    .col-sm-5
      / spacer above image
    .col-sm-7
      %h3.text-center Projects for meaningful change
  .row
    .col-sm-5
      = image_tag "homepage/projects1.jpg", style: "width: 100%;", class: "hidden-xs"
    .col-sm-7
      - @projects.each do |project|
        = render partial: "projects/list_row", locals: {project: project, opts: {}}
      = link_to "+ #{Project.count - @projects.count} more", projects_path, class: "btn btn-default"

  .blank-space

  .row
    .col-sm-7
      %h3.text-center A space for generative dialogue
    .col-sm-5
      / spacer above image
  .row
    .col-sm-7
      - @posts.each do |post|
        = render partial: "posts/list_row", locals: {post: post, opts: {}}
      = link_to "+ #{Post.roots.count - @posts.count} more", posts_path, class: "btn btn-default"
    .col-sm-5
      = image_tag "homepage/conversations1.jpg", style: "width: 100%;", class: "hidden-xs"

  .blank-space

  .row
    .col-sm-5
      / spacer above image
    .col-sm-7
      %h3.text-center A growing library of tools and resources
  .row
    .col-sm-5
      = image_tag "homepage/resources1.jpg", style: "width: 100%;", class: "hidden-xs"
    .col-sm-7
      - @resources.each do |resource|
        = render partial: "resources/list_row", locals: {resource: resource, opts: {}}
      = link_to "+ #{Resource.count - @resources.count} more", resources_path, class: "btn btn-default"
