#main-container.container

  %div{style: "width: 400px; margin-left: auto; margin-right: auto;"}
    %h2.text-center.text-info What do you care about?
    %form{action: search_path, method: "GET"}
      .input-group
        %input.form-control{type: "text", autofocus: true, placeholder: "Enter your life dreams here", name: "query"}
        .input-group-btn
          %button.btn.btn-success{type: "submit"}
            %i.fa.fa-search
            Start discovering

  .blank-space

  %h2 Integral Climate is...

  .row
    .col-sm-6
      %h3 People working towards sustainability
      .row
        .col-sm-9
          - @users.each do |user|
            = render partial: "users/list_row", locals: {user: user, opts: {}}
          = link_to "+ #{User.count - @users.count} more", users_path
        .col-sm-3
          = image_tag "homepage/people1.jpg", style: "width: 100%;", class: "hidden-xs"
    .col-sm-6
      %h3 Projects for meaningful change
      .row
        .col-sm-9
          - @projects.each do |project|
            = render partial: "projects/list_row", locals: {project: project, opts: {}}
          = link_to "+ #{Project.count - @projects.count} more", projects_path
        .col-sm-3
          = image_tag "homepage/projects1.jpg", style: "width: 100%;", class: "hidden-xs"
  .blank-space
  .row
    .col-sm-6
      %h3 A space for generative dialogue
      .row
        .col-sm-9
          - @posts.each do |post|
            = render partial: "posts/list_row", locals: {post: post, opts: {}}
          = link_to "+ #{Post.roots.count - @posts.count} more", posts_path
        .col-sm-3
          = image_tag "homepage/conversations1.jpg", style: "width: 100%;", class: "hidden-xs"
    .col-sm-6
      %h3 Resources for impact-makers
      .row
        .col-sm-9
          - @resources.each do |resource|
            = render partial: "resources/list_row", locals: {resource: resource, opts: {}}
          = link_to "+ #{Resource.count - @resources.count} more", resources_path
        .col-sm-3
          = image_tag "homepage/resources1.jpg", style: "width: 100%;", class: "hidden-xs"
