%h1.text-center Integral Climate

%hr

.row

  .col-sm-6
    %h4.text-center People
    %div{style: 'position: relative;'}
      - User.limit(20).each do |user|
        %div{style: 'float: left; padding: 3px;'}
          %div{style: 'width: 50px; height: 50px; background: #ddd;'}
            = link_to image_tag(user.image.url(:thumb), class: "image-framed-tiny", style: "width: 100%;"), user_path(user), class: "js-tooltip", data: { tooltip: user.name }
      .clear-float
    - if User.count > 20
      %p= link_to "Meet #{User.count - 20} more", users_path

  .col-sm-6
    %h4.text-center Projects
    %div{style: 'position: relative;'}
      - Project.limit(20).each do |project|
        %div{style: 'float: left; padding: 3px;'}
          %div{style: 'width: 50px; height: 50px; background: #ddd;'}
            = link_to image_tag(project.image.url(:thumb), class: "image-framed-tiny", style: "width: 100%;"), project_path(project), class: "js-tooltip", data: { tooltip: project.title }
      .clear-float
    - if Project.count > 20
      %p= link_to "Discover #{Project.count - 20} more", projects_path

%hr

.row

  .col-sm-6
    %h4.text-center Conversations
    %ul
      - Post.published.roots.limit(20).each do |post|
        %li= link_to post.title, post_path(post)
    - if Post.published.roots.count > 20
      %p= link_to "See #{Post.published.roots.count - 20} more", posts_path

  .col-sm-6
    %h4.text-center Resources
    %ul
      - Resource.limit(20).each do |resource|
        %li= link_to resource.title, resource_path(resource)
    - if Resource.count > 20
      %p= link_to "Discover #{Resource.count - 20} more", resources_path

%hr

%p.text-center= link_to 'TAKE ACTION', '#', class: 'btn btn-primary', "data-confirm": "We don't know what this button should do yet."
