.centered-1000
  .row
    .col-sm-8
      %div.large-body-text
        %h1 Principles of Thriveability Lab

        %h3 Humans thrive in connection with nature.
        %ul
          %li The purpose of this platform is to advance our individual and collective ability to "thrive" in sync with Nature, her systems, and all of life.
          %li Our task is to learn to collaborate ~ with ourselves, with each other, and with nature.
          %li Science shows that nature tends to make us more happy, healthy, and social, underscoring not only the individual but also the collective benefits of nature in our lives and world.
          %li Our natural world is infinitely precious and important, and an awe-some source of potential, wisdom, and inspiration.

        %h3 Impactful change requires new ways of thinking.
        %ul
          %li Fostering creative change is as much, or more, about achieving positive impacts as it is about reducing negative impacts.
          %li Shifting the focus from ‘fixing problems’ to thriving, regeneration, and well-being creates an inspiring sustainability narrative, maybe even a new story for our time.
          %li Real change requires changes ‘from the inside-out’ ~ changes amounting to nothing less than a ‘paradigm shift’.
          %li Rather than focusing on specific sectors or disciplines, we need integrated solutions that address systems, behaviors, psychology, and culture.

        %h3 Making change is a collaborative, emergent, personal process.
        %ul
          %li Innovative solutions ‘emerge’ from radical experimentation and self-organization rather than from top-down planning and control.
          %li Positive, deep change is made together: Together our creative expression increases, new capacities emerge, and innovative collaborations open up.
          %li The quality of our own presence and attention is key to our power and potential as change-makers.
          %li Working on our growth and development as individuals is therefore an integral part of bettering our world.

        %h3 Supporting humans to thrive is key to addressing complex challenges.
        %ul
          %li In essence, people are intelligent, creative, and adaptive. Fostering that human potential is key to addressing our greatest challenges.
          %li Fundamentally, we are all part of one human family. The more we stand together, the stronger we become. Protecting the most vulnerable among us means protecting all of us.
          %li The most effective recipe for a "thriving" world is empowering people to live a truly "good life" ~ a life in connection with oneself, others, and nature.

          %li Our creative challenge is to connect a global, world-centric vision with local action and embodied transformation.

        %hr
        %p.em.text-muted
          We'd like these principles to be an evolving conversation. What do you resonate with? What do you feel is missing?
          = link_to "Please share your thoughts!", feedback_form_url, target: "_blank"

    .col-sm-4.hidden-xs

      %div.img-rounded{style: "max-height: 300px; overflow: hidden;"}
        = image_tag("home/allef-vinicius-124556-md.jpg", style: "width: 100%;")
      .blank-space

      %div.img-rounded{style: "max-height: 300px; overflow: hidden;"}
        = image_tag("home/jeremy-bishop-556948-md.jpg", style: "width: 100%; margin-top: -25%;")
      .blank-space

      %div.img-rounded{style: "max-height: 300px; overflow: hidden;"}
        = image_tag("home/bekir-donmez-335320-md.jpg", style: "width: 100%; margin-top: -25%;")
      .blank-space

      %div.img-rounded{style: "max-height: 300px; overflow: hidden;"}
        = image_tag("home/vincent-guth-182001-md.jpg", style: "width: 100%; margin-top: -50%;")
      .blank-space
