= form_for(@project, html: { style: "max-width: 800px;" }) do |f|
  = show_errors_for @project

  .row.row-padded
    .col-sm-3= f.label :title
    .col-sm-9= f.text_field :title, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :subtitle
      %br
      .small A one-line description of this project's mission
    .col-sm-9= f.text_field :subtitle, class: "form-control"
  .row.row-padded
    .col-sm-3= f.label :image
    .col-sm-9= f.file_field :image, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :introduction
      %br
      .small In a few sentences, what do you want the world to know about this project?
    .col-sm-9= f.text_area :introduction, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :location, "Where is it based?"
      %br
      .small eg. Chico, CA
    .col-sm-9= f.text_field :location, class: "form-control"
  .row.row-padded
    .col-sm-3= f.label :stage
    .col-sm-9= f.select :stage, ["idea", "developing", "mature"], { include_blank: "- select one -" }, { class: "form-control" }
  .row.row-padded
    .col-sm-3
      = f.label :tag_list, "Tags"
      .small Specify up to 3 brief, general labels that help other people discover your project based on the topics or fields it’s relevant to.
    .col-sm-9
      = f.text_field :tag_list, value: @project.tag_list.join(","), class: "js-hidden"
      %ul#project-tags-tagit.js-tagit{ data: { "tagit-target": "#project_tag_list", "tag-limit": 3, "available-tags": popular_project_tags(30) }}
      .small.js-hide-if-tagit-limit-exceeded
        Common tags:
        - PredefinedTag.all.order(:name).each do |tag|
          &nbsp;
          = link_to(tag.name, "#", class: "js-add-tag", "data-target": "#project-tags-tagit")
      .js-show-if-tagit-limit-exceeded.js-hidden
        %strong.text-danger You can only add 3 tags to this field.
        Please remove some tags before adding more.

  %h3.text-center Details
  .row.row-padded
    .col-sm-6.text-right
      = f.label :quadrant_ul, "What's your vision for this project?"
      = f.text_area :quadrant_ul, class: "form-control"
    .col-sm-6
      = f.label :quadrant_ur, "What are some concrete goals?"
      = f.text_area :quadrant_ur, class: "form-control"
  .row.row-padded
    .col-sm-6.text-right
      = f.label :quadrant_ll, "Who is taking part? Who will be affected?"
      = f.text_area :quadrant_ll, class: "form-control"
    .col-sm-6
      = f.label :quadrant_lr, "What contexts are you constrained / supported by?"
      = f.text_area :quadrant_lr, class: "form-control"

  %h3 Status & needs

  .row.row-padded
    .col-sm-4
      = f.label :need_list, "I'm sharing with this community because I want..."
      .small eg. <span class="label label-default">advice</span>, <span class="label label-default">sponsorship</span>
    .col-sm-8
      = f.text_field :need_list, value: @project.need_list.join(","), class: "js-hidden"
      %ul#need-list-tagit.js-tagit{"data-tagit-target": "#project_need_list"}
  .row.row-padded
    .col-sm-4= f.label :call_to_action, "1 thing that the viewer can do right now to support this project"
    .col-sm-8= f.text_area :call_to_action, class: "form-control"
  .row.row-padded
    .col-sm-4
    .col-sm-8= f.submit "Save", class: "btn btn-primary"
