= form_for(@project, html: { style: "max-width: 800px;" }) do |f|
  = show_errors_for @project

  .row.row-padded
    .col-sm-3
      = f.label :title
      = required
    .col-sm-9= f.text_field :title, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :subtitle
      = required
      .hint.small A one-line description of this project's mission
    .col-sm-9= f.text_field :subtitle, class: "form-control"
  .row.row-padded
    .col-sm-3= f.label :image
    .col-sm-9= f.file_field :image, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :introduction
      .hint.small In a few sentences, what do you want the world to know about this project?
    .col-sm-9= f.text_area :introduction, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :location, "Where is it based?"
      %br
      .hint.small eg. Chico, CA
    .col-sm-9= f.text_field :location, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :stage
      = required
    .col-sm-9= f.select :stage, ["idea", "developing", "mature"], { include_blank: "- select one -" }, { class: "form-control" }
  = render partial: "shared/edit_tags", locals: { form: f, object: @project }

  .row.row-padded
    .col-sm-3
      = f.label :quadrant_ul, "What's your vision for this project?"
    .col-sm-9
      = f.text_area :quadrant_ul, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :quadrant_ur, "What are some concrete goals?"
    .col-sm-9
      = f.text_area :quadrant_ur, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :quadrant_ll, "Who is taking part? Who will be affected?"
    .col-sm-9
      = f.text_area :quadrant_ll, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :quadrant_lr, "What contexts or systems are you affected by?"
      .hint.small (e.g., funding, legislation, institutions)
    .col-sm-9
      = f.text_area :quadrant_lr, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :call_to_action, "What can others do to help?"
      .hint.small Describe what forms of help you'd be grateful for. Other members may contact you in response to what you write here.
    .col-sm-9= f.text_area :call_to_action, class: "form-control"
  .row.row-padded
    .col-sm-3
    .col-sm-9
      = monitor_connection
      = f.submit "Save", class: "save-project-button btn btn-primary"
