= form_for @project do |f|
  = show_errors_for @project

  %table.form
    %tr
      %th= f.label :title
      %td= f.text_field :title, class: "form-control"
    %tr
      %th= f.label :subtitle
      %td= f.text_field :subtitle, class: "form-control"
    %tr
      %th= f.label :image
      %th= f.file_field :image, class: "form-control"
    %tr
      %th= f.label :introduction
      %td= f.text_area :introduction, class: "form-control"
    %tr
      %th= f.label :location, "Where is this project based?"
      %td= f.text_field :location, class: "form-control"

  %h3 Quadrants [TODO: more creative title]

  %table.form
    %tr
      %td
        = f.label :quadrant_ul, "What's your vision for this project?"
        = f.text_area :quadrant_ul, class: "form-control"
      %td
        = f.label :quadrant_ur, "What are some concrete goals?"
        = f.text_area :quadrant_ur, class: "form-control"
    %tr
      %td
        = f.label :quadrant_ll, "Who is taking part? Who will be affected?"
        = f.text_area :quadrant_ll, class: "form-control"
      %td
        = f.label :quadrant_lr, "What framework and contexts are you constrained / supported by?"
        = f.text_area :quadrant_lr, class: "form-control"

  %h3 Status & needs

  %table.form
    %tr
      %th= f.label :stage
      %td= f.select :stage, ["idea", "developing", "mature"], { include_blank: true }, { class: "form-control" }
    %tr
      %th= f.label :need_list, "I'm sharing with this community because I want..."
      %td
        = f.text_field :need_list, value: @project.need_list.join(","), class: "js-hidden"
        %ul#need-list-tagit.js-tagit{"data-tagit-target": "#project_need_list"}
    %tr
      %th= f.label :call_to_action, "1 thing that the viewer can do right now to support this project"
      %td= f.text_area :call_to_action, class: "form-control"
    %tr
      %th
      %td= f.submit "Save", class: "btn btn-primary"
