.row
  .col-md-4
    %h1 Projects
    %p Projects are all the colorful ways we are making the world more sustainable. Use projects to share what you're working on, and learn about the initiatives of others.
    %p{style: "padding-top: 10px; padding-bottom: 10px;"}
      = link_to "Add your project", new_project_path, class: "test-new-project-button btn btn-success"

    = render partial: "search", locals: {filters: {}}

    .hidden-sm.hidden-xs
      = image_tag "list_images/projects.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_projects.each do |project|
          .list-row
            = link_to image_tag(project.image.url(:thumb), class: "img-rounded", style: "float: left; width: 50px;"), project_path(project)
            .project-text{style: "margin-left: 60px;"}
              %span.h4= link_to project.title, project_path(project)
              %div.nowrap.text-muted= project.subtitle
              %div.nowrap
                - project.involved_users.take(10).each do |user|
                  = link_to image_tag(user.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(user)
                - project.tag_list.each do |name|
                  = link_to name, projects_path(tags: name), class: "btn btn-default btn-xs"

      .col-sm-5
        %h3 Recent activity
        - @most_recent_activity.each do |event|
          %div.clear-float.list-row
            %div{style: "width: 50px; height: 50px; float: left; padding-right: 10px;"}
              = link_to image_tag(event.user.image.url(:thumb), class: "img-rounded", style: "width: 100%;"), user_path(event.user)
            %div.small.text-muted= print_date event.datetime, time: true
            %div
              = link_to event.user.full_name, user_path(event.user)
              = event.action_description
              = "the #{event.target.class.to_s.downcase}" unless event.target.is_a? User
              = link_to event.target_description, url_for(event.target)

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", projects_path(tags: tag.name), class: "#{css_class}"
            &nbsp;
