.row
  .col-md-4
    %h1 Projects
    %p Projects are the colorful ways we are working towards a flourishing world. Use projects to share what you're working on, and learn about the initiatives of others.

    %p
      = link_to "Add your project", new_project_path, class: "test-new-project-button btn btn-success"

    = render partial: "shared/simple_search_form", locals: {model_name: "Project"}
    = render partial: "shared/write_medium_article"

    .hidden-sm.hidden-xs
      = image_tag "projects_#{rand(1..2)}_portrait_md.jpg", style: "width: 100%;", class: "img-rounded"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_projects.each do |project|
          = render partial: "list_row", locals: {project: project, opts: {}}
        %hr
        %p= link_to "See all", search_path(classes: "Project"), class: "test-list-all-projects"

      .col-sm-5
        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(string: tag.name, classes: "Project"), class: "#{css_class}"
            &nbsp;

        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}
