.row
  .col-md-4
    %h1 All Projects
    %p Projects are all the colorful ways we are making the world more sustainable. Use projects to share what you're working on, and learn about the initiatives of others.
    %p{style: "padding-bottom: 10px;"}
      = link_to "Add your project", new_project_path, class: "btn btn-success"

    = render partial: "search", locals: {filters: @filters}

    .hidden-sm.hidden-xs
      = image_tag "list_images/projects.jpg", style: "width: 100%;"

  .col-sm-8
    - @projects.each do |project|
      .list-row
        = link_to image_tag(project.image.url(:thumb), class: "img-rounded", style: "float: left; width: 50px;"), project_path(project)
        .project-text{style: "margin-left: 60px;"}
          %span.h4= link_to (project.title), project_path(project)
          %div= project.subtitle
          %div.nowrap
            - project.involved_users.take(10).each do |user|
              = link_to image_tag(user.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(user)
            - project.tag_list.each do |name|
              = link_to name, projects_path(tags: name), class: "btn btn-default btn-xs"
