.row
  .col-md-4
    %h1 Projects
    %p Projects are all the colorful ways we are making the world more sustainable. Use projects to share what you're working on, and learn about the initiatives of others.
    %p
      = link_to "Add your project", new_project_path, class: "test-new-project-button btn btn-success"

    = render partial: "search", locals: {filters: {}}

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/projects.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_projects.each do |project|
          = render partial: "list_row", locals: {project: project, opts: {}}
        %hr
        %p= link_to "See all", search_projects_path

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_projects_path(tags: tag.name), class: "#{css_class}"
            &nbsp;
