.centered-800
  %h1 Resources for project owners

  %ul
    %li= link_to "Publish your insights and learnings", "https://medium.com/new-story", target: "_blank"
    %li= link_to "Make & measure (integral) impact", "https://www.metaintegral.com/", target: "_blank"
    %li= link_to "Become a social entrepreneur", "https://impacthub.net/", target: "_blank"
    %li= link_to "Start a petition", "https://secure.avaaz.org/en/petition/?source=dohpl", target: "_blank"
    %li
      Crowdsource your project:
      %ul
        %li= link_to "Heroes and Friends", "https://www.heroesandfriends.com/", target: "_blank"
        %li= link_to "Kickstarter", "https://www.kickstarter.com/", target: "_blank"
        %li= link_to "Gofundme", "https://www.gofundme.com/", target: "_blank"
