.row
  .col-sm-8
    %div
      %span.h1= @project.title
      - if @project.owner == current_user
        &nbsp;
        = link_to fa_icon("pencil"), edit_project_path(@project), class: "test-edit-link"
    %h4= @project.subtitle

    %table.table
      %tr
        %th Owner
        %td= link_to @project.owner.full_name, user_path(@project.owner)
      %tr
        %th Home base
        %td= @project.location_of_home
      %tr
        %th Zone of impact
        %td= @project.location_of_impact
      %tr
        %th Stage
        %td= @project.stage
      %tr
        %th Tags
        %td
          - @project.tag_list.each do |name|
            = link_to name, search_path(query: name), class: "label label-default"

    %hr

    - {desired_impact: "Desired impact", contribution_to_world: "Contribution to the world", help_needed: "How you can help", q_background: "Project background", q_meaning: "Why it's exciting", q_community: "Community", q_goals: "Goals", q_how_make_impact: "How it works", q_how_measure_impact: "How we measure impact", q_potential_barriers: "Potential barriers", q_project_assets: "Why this project stands out", q_larger_vision: "Future vision"}.each do |k, v|
      - if @project.send(k).present?
        %h4= v
        = simple_format(@project.send(k))

    %h4 Resources & links
    - if @project.resources.any?
      %ul
        - @project.resources.each do |resource|
          = render partial: "resources/show_li", locals: { resource: resource }
      - if current_user == @project.owner
        %p= link_to "Add another resource", new_resource_path(resource: { target_type: "Project", target_id: @project.id })
    - else
      %p
        No resources connected to this project yet.
        - if current_user == @project.owner
          Use this space to add any links or documents relevant to this project, that could be useful to other community members. #{link_to "Add a resource", new_resource_path(resource: { target_type: "Project", target_id: @project.id })}

  .col-sm-4
    - if @project.video_url.present?
      <iframe width="100%" height="200" src="//www.youtube.com/embed/#{@project.youtube_video_guid}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    - else
      = image_tag @project.image.url(:medium), style: "width: 100%; max-width: 300px;"

    %hr

    %div
      = render partial: "shared/likes_section", locals: { target: @project, link_wording: "This inspires me" }
      = render partial: "shared/stay_informed_flags_section", locals: { target: @project, link_wording: "Keep me informed" }
      = render partial: "shared/get_involved_flags_section", locals: { target: @project, link_wording: "I want to get involved" }
      - unless current_user == @project.owner
        %span= link_to fa_icon("envelope"), new_message_path(message: { project_id: @project.id, recipient_id: @project.owner_id }), class: "new-project-message-link btn btn-info js-tooltip", title: "Send #{@project.owner.first_name} an email"
