= form_for post_conversant, url: post_conversants_path(post_id: @post.id), method: :post do |f|
  = show_errors_for post_conversant

  .row.row-padded
    .col-sm-3
      = f.label :intention, "I'm joining this conversation to..."
      = required
      .hint.small Consciously setting your intention can encourage more thoughtful and more productive discussions.
    .col-sm-9
      = f.select :intention, Post::INTENTION_PRESETS, { include_blank: "- select one -" }, { class: "js-intention-select form-control" }
      .row-padded
        %input.js-intention-write-in.js-hidden.form-control{type: "text", placeholder: "Write your own intention..."}
  .row.row-padded
    .col-sm-3
    .col-sm-9= f.submit "Join in!", class: "btn btn-primary"
