.centered-600
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!

    .row.row-padded
      .col-sm-3
        = f.label :email
        = required
      .col-sm-9= f.email_field :email, autofocus: true, class: 'form-control'
    .row.row-padded
      .col-sm-3
        = f.label :password
        = required
      .col-sm-9= f.password_field :password, autocomplete: "off", class: 'form-control'
    .row.row-padded
      .col-sm-3
      .col-sm-9= f.submit "Log in", class: 'btn btn-primary'

  = render 'devise/shared/links'
