%p Please share any resource (e.g., powerpoint, paper, plan) you consider valuable for the community here. However, be sure to <strong>only upload files that you have the right to share</strong> (to avoid issues with copyrights and ownership)! Otherwise, refer to it with a link, so people can access it at the appropriate place.

= form_for @resource do |f|
  = show_errors_for @resource

  - if params[:editing_user_profile].present?
    = hidden_field_tag :editing_user_profile, true

  - if @target
    = f.hidden_field :target_type, value: @target.class.to_s
    = f.hidden_field :target_id, value: @target.id
    %p  This resource will be linked to the #{@target.class.to_s} <strong>#{@target.title}</strong>.
  .row.row-padded
    .col-sm-3
      = f.label :title
      = required
    .col-sm-9= f.text_field :title, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :source_name
      = required
      .hint.small Who authored or created this resource?
    .col-sm-9= f.text_field :source_name, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :current_url, "Current URL"
      .hint.small Where can this resource be accessed online?
    .col-sm-9= f.text_field :current_url, class: "form-control"
  .row.row-padded
    .col-sm-3
      = f.label :description
      = required
      .hint.small What does this resource offer to the community? Who might benefit from it?
    .col-sm-9= f.text_area :description, class: "form-control"
  = render partial: "shared/edit_tags", locals: { form: f, object: @resource }
  .row.row-padded
    .col-sm-3
      = f.label :media_type_list, "Media type"
      .hint.small Indicate what kind of resource this is by selecting all labels that apply (or writing in your own).
    .col-sm-9
      = f.text_field :media_type_list, value: @resource.media_type_list.sort.join(","), class: "js-hidden"
      %ul.js-tagit{ id: "resource-media-types-tagit", data: { "tagit-target": "#resource_media_type_list", "tag-limit": 3, "available-tags": Resource::DEFAULT_MEDIA_TYPES }}
      .small.js-hide-if-tagit-limit-exceeded
        %strong Common media types:
        - Resource::DEFAULT_MEDIA_TYPES.each do |name|
          &nbsp;
          = link_to(name, "#", class: "js-add-tag", "data-target": "#resource-media-types-tagit")
      .js-show-if-tagit-limit-exceeded.js-hidden
        %strong.text-danger You can only add 3 tags to this field.
        Please remove some tags before adding more.

  .row.row-padded
    .col-sm-3
      = f.label :attachment, "Attach a file"
      .hint.small Please only upload files that you own or have permission to distribute. If you don't, then only provide the website link.
    .col-sm-9= f.file_field :attachment, class: "form-control"
  .row.row-padded#js-affirm-ownership{ class: ("js-hidden" unless @resource.attachment.present?) }
    .col-sm-3
      = f.label :ownership_affirmed, "I affirm that I own or have permission to distribute this document."
    .col-sm-9
      = f.check_box :ownership_affirmed, class: "form-control"


  .row.row-padded
    .col-sm-3
    .col-sm-9
      = monitor_connection
      = f.submit "Save", class: "submit-resource-button btn btn-primary"
