/ Ideal
.list-row
  %div{style: "float: left; width: 50px; height: 50px;"}
    = link_to image_tag("icons/resource.png", class: "img-rounded", style: "width: 100%;"), resource_path(resource)
  %div{style: "margin-left: 60px;"}
    - if opts[:in_search]
      .text-muted.small RESOURCE
    .nowrap.text-ellipsis
      %span.h4= link_to resource.title, resource_path(resource)
    .nowrap.text-ellipsis.text-muted
      = resource.description
    .nowrap
      - resource.tag_list.each do |name|
        = link_to name, search_path(string: name), class: "label label-default"
      - resource.media_type_list.each do |name|
        = link_to name, search_path(string: name), class: "label label-default"
