%h1 Resources

.row
  .col-md-4
    %p
      %strong We exist to support our members connect, collaborate, and discover ideas that help them make meaningful change.
      This is a place to add links to websites or documents that you think might be useful to others.
    %p.text-center= link_to "Add a resource", new_resource_path

    %hr
    = form_tag(resources_path, method: :get) do
      %div.strong{style: "padding-top: 10px;"} Filter by tag...
      %select.js-chosen{name: "tags", data: { placeholder: "Click to select a tag" }}
        %option
        - popular_resource_tags(15).each do |name|
          - selected = @filters[:tags].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
      .text-right{style: "padding-top: 10px;"}= submit_tag "Filter", class: "btn btn-primary"

  .col-md-8
    %table.table.table-striped{style: "width: 100%;"}
      %tr
        %th Title
        %th Linked to
        %th Added by
        %th
      - @resources.each do |resource|
        %tr
          %td= link_to resource.title, resource_path(resource)
          %td
            - if resource.target.present?
              = link_to "#{resource.target.class.to_s}: #{resource.target.title}", url_for(resource.target)
          %td= link_to resource.creator.name, user_path(resource.creator)
          %td
            - if resource.url.present?
              = link_to fa_icon("external-link") + " source", resource.url, target: "_blank"
              &nbsp;
            - if current_user == resource.creator
              = link_to fa_icon("pencil"), edit_resource_path(resource)
