%h1 Resources

.row
  .col-sm-8.info-section
    %p <strong>Resources are ways to offer and discover ideas that help us make meaningful change.</strong><br> Use resources to share useful documents, videos, or websites, and search those of others

    %p= link_to "Share a resource", new_resource_path, class: "add-new-resource-link btn btn-success"

  .col-sm-4.search-section
    = form_tag(resources_path, method: :get) do
      %div.strong Filter by tag...
      %select.js-chosen{name: "tags", data: { placeholder: "Click to select a tag" }}
        %option
        - popular_resource_tags(15).each do |name|
          - selected = @filters[:tags].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
      %div.strong{style: "padding-top: 10px;"} Filter by media type...
      %select.js-chosen{name: "media_types", data: { placeholder: "Click to select a media type" }}
        %option
        - popular_resource_media_types(15).each do |name|
          - selected = @filters[:media_types].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
      %div{style: "padding-top: 10px;"}= submit_tag "Filter", class: "btn btn-primary"

.row{style: "margin-top: 20px;"}
  .col-sm-8
    - @resources.each do |resource|
      .list-row
        %div
          %span.h4= link_to (resource.title), resource_path(resource)
          &nbsp;
          - if resource.current_url.present?
            = link_to fa_icon("external-link"), resource.current_url, target: "_blank"
        %div.nowrap= resource.description
        %div.nowrap
          %span.text-muted
            = link_to image_tag(resource.creator.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(resource.creator)
            Added on #{print_date(resource.created_at, abbreviated: true, year: true)}
            &nbsp;
          - resource.tag_list.each do |name|
            = link_to name, resources_path(tags: name), class: "btn btn-default btn-xs"
          - resource.media_type_list.each do |name|
            = link_to name, resources_path(media_types: name), class: "btn btn-default btn-xs"


  .col-sm-4.hidden-xs.sidebar-image
    = image_tag "list_images/resources.jpg"
