.row
  .col-md-4
    %h1 Resources
    %p Resources are ways to offer and discover ideas that help us make meaningful change. Use resources to share useful documents, videos, or websites, and search those of others.
    %p
      = link_to "Share a resource", new_resource_path, class: "test-new-resource-link btn btn-success"

    = render partial: "search", locals: {filters: {}}

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/resources.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_resources.each do |resource|
          .list-row
            %span.h4= link_to resource.title, resource_path(resource)
            %div.nowrap.text-muted
              = ellipsify(resource.description, 100)
            %div.nowrap
              %span.text-muted
                = link_to image_tag(resource.creator.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(resource.creator)
                Added on #{print_date(resource.created_at, abbreviated: true, year: true)}
                &nbsp;
              - resource.tag_list.each do |name|
                = link_to name, search_resources_path(tags: name), class: "btn btn-default btn-xs"
              - resource.media_type_list.each do |name|
                = link_to name, search_resources_path(media_types: name), class: "btn btn-default btn-xs"
        %hr
        %p= link_to "See all", search_resources_path

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_resources_path(tags: tag.name), class: "#{css_class}"
            &nbsp;
