.row
  .col-md-4
    %h1 Resources
    %p Resources offer tools that help us make meaningful change. Use resources to share useful documents, videos, or websites, and search those of others.
    %p
      = link_to "Share a resource", new_resource_path, class: "test-new-resource-link btn btn-success"

    = render partial: "shared/simple_search_form", locals: {model_name: "Resource"}
    = render partial: "shared/write_medium_article"

    .hidden-sm.hidden-xs
      = image_tag "resources_#{rand(1..2)}_portrait_md.jpg", style: "width: 100%;", class: "img-rounded"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_resources.each do |resource|
          = render partial: "list_row", locals: {resource: resource, opts: {}}
        %hr
        %p= link_to "See all", search_path(classes: "Resource")

      .col-sm-5
        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(string: tag.name, classes: "Resource"), class: "#{css_class}"
            &nbsp;

        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}
