.row
  .col-md-4
    %h1 All Resources
    %p Resources are ways to offer and discover ideas that help us make meaningful change. Use resources to share useful documents, videos, or websites, and search those of others.
    %p{style: "padding-bottom: 10px;"}
      = link_to "Share a resource", new_resource_path, class: "add-new-resource-link btn btn-success"

    = render partial: "search", locals: {filters: @filters}

    .hidden-sm.hidden-xs
      = image_tag "list_images/resources.jpg", style: "width: 100%;"

  .col-sm-8
    - @resources.each do |resource|
      .list-row
        %span.h4= link_to resource.title, resource_path(resource)
        %div.nowrap= resource.description
        %div.nowrap
          %span.text-muted
            = link_to image_tag(resource.creator.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(resource.creator)
            Added on #{print_date(resource.created_at, abbreviated: true, year: true)}
            &nbsp;
          - resource.tag_list.each do |name|
            = link_to name, resources_path(tags: name), class: "btn btn-default btn-xs"
          - resource.media_type_list.each do |name|
            = link_to name, resources_path(media_types: name), class: "btn btn-default btn-xs"
