.row
  .col-md-4
    %h1 Resources
    %p Resources offer tools that help us make meaningful change. Use resources to share useful documents, videos, or websites, and search those of others.
    %p
      = link_to "Share a resource", new_resource_path, class: "test-new-resource-link btn btn-success"

    = render partial: "shared/simple_search_form", locals: {model_name: "Resource"}

    .alert.alert-info{style: "margin-top: 20px;"}
      %p
        %span.h3 #{fa_icon("bullhorn")} Got something to say?
      %p This site is about connecting minds and ideas to spark meaningful change. We want as many people as possible to benefit from your experience! Consider writing a Medium article on what you've learned, then adding a link here so fellow change-makers can find it.
      %p= link_to fa_icon("pencil") + " Start writing your story", "https://medium.com/new-story", target: "_blank", class: "btn btn-primary"

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/resources.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most popular
        - @most_popular_resources.each do |resource|
          = render partial: "list_row", locals: {resource: resource, opts: {}}
        %hr
        %p= link_to "See all", search_path(models: "Resource")

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(query: tag.name, models: "Resource"), class: "#{css_class}"
            &nbsp;
