.centered-800
  %div Resource:
  %div{style: "padding-bottom: 10px;"}
    %span.h1 #{@resource.title}
    - if current_user == @resource.creator
      &nbsp;
      = link_to fa_icon("pencil") + " Edit", edit_resource_path(@resource)

  %table.table
    %tr
      %th Description
      %td= @resource.description

    %tr
      %th Source
      %td= @resource.source_name

    %tr
      %th Relevant to
      %td= @resource.relevant_to

    - if @resource.attachment_file_name.present?
      %tr
        %th Attached file
        %td= link_to @resource.attachment_file_name, @resource.attachment.url

    - if @resource.current_url.present?
      %tr
        %th URL
        %td.text-ellipsis= link_to @resource.current_url, @resource.current_url

    - if @resource.target
      %tr
        %th Linked to
        %td= link_to "#{@resource.target.class.to_s}: #{@resource.target.title}", url_for(@resource.target)

    - if @resource.creator
      %tr
        %th Added by
        %td
          = link_to image_tag(@resource.creator.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(@resource.creator)
          = link_to @resource.creator.name, user_path(@resource.creator)

    %tr
      %th Tags
      %td
        - @resource.tag_list.each do |tag|
          = link_to tag, search_path(classes: "Resource", string: tag), class: "btn btn-default btn-xs"

    %tr
      %th Media type
      %td
        - @resource.media_type_list.each do |tag|
          = link_to tag, search_path(classes: "Resource", string: tag)
          &nbsp;

    %tr
      %th
      %td
        = render partial: "shared/likes_section", locals: { target: @resource, link_wording: "This inspires me" }
        = render partial: "shared/stay_informed_flags_section", locals: { target: @resource, owner: @resource.creator, link_wording: "Send me updates on this resource" }
