.centered-800
  %h1 Resource: #{@resource.title}

  %table.table
    %tr
      %th Title
      %td= @resource.title
    %tr
      %th URL
      %td= link_to fa_icon("external-link") + " #{@resource.url}", @resource.url, target: "_blank"
    %tr
      %th Description
      %td= @resource.description
    - if @resource.attachment_file_name.present?
      %tr
        %th Uploaded file
        %td= link_to @resource.attachment.url
    %tr
      %th Tags
      %td
        - @resource.tag_list.each do |name|
          = link_to name, resources_path(tags: name)
          &nbsp;
    %tr
      %th Media type
      %td
        - @resource.media_type_list.each do |name|
          = link_to name, resources_path(media_types: name)
          &nbsp;
    %tr
      %th Added by
      %td= link_to @resource.creator.full_name, user_path(@resource.creator)
    - if @resource.target.present?
      %tr
        %th Linked to
        %td= link_to "#{@resource.target.class.to_s}: #{@resource.target.title}", url_for(@resource.target)
    - if current_user == @resource.creator
      %tr
        %th
        %td= link_to fa_icon("pencil") + " Edit", edit_resource_path(@resource)
    %tr
      %th
      %td
        = render partial: "shared/likes_section", locals: { target: @resource, link_wording: "This inspires me" }
        = render partial: "shared/stay_informed_flags_section", locals: { target: @resource, owner: @resource.creator, link_wording: "Send me updates on this resource" }
