%div
  %span.strong.nowrap
    = link_to post.title, post_path(post)
  %div.nowrap.text-muted
    = ellipsify(sanitize(post.published_content, tags: []), 80)
  %div.nowrap
    - if post.tag_list.any?
      Categories:
      - post.tag_list.each do |tag_name|
        %span.label.label-default= tag_name
  %div.nowrap{style: "padding-top: 5px;"}
    %span.text-muted #{print_date(post.published_at, abbreviated: true)}
    - post.author_and_conversants.take(10).each do |user|
      = link_to image_tag(user.image.url(:thumb), class: "img-circle", style: "width: 30px;"), user_path(user)
