%span.strong.nowrap
  = link_to resource.title, resource_path(resource)
%div.nowrap.text-muted
  = ellipsify(resource.description, 80)
%div.nowrap{style: "padding-bottom: 5px;"}
  - resource.tag_list.each do |name|
    %span.label.label-default= name
  - resource.media_type_list.each do |name|
    %span.label.label-default= name
%div.nowrap
  %span.text-muted
    = link_to image_tag(resource.creator.image.url(:thumb), class: "img-circle", style: "width: 30px;"), user_path(resource.creator)
    #{print_date(resource.created_at, abbreviated: true)}
    &nbsp;
