.js-autosave
  = form_for(post) do |f|
    = show_errors_for post

    .row.row-padded
      .col-sm-3= f.label :title
      .col-sm-9= f.text_field :title, class: "form-control", autofocus: (post.published? ? false : true)
    .row.row-padded
      .col-sm-3= f.label :intention_type, "I'm writing this post mainly to..."
      .col-sm-9
        = f.select :intention_type, IntentionType.all.map{ |it| [it.long, it.short] }, { include_blank: "- select one -" }, { class: "form-control" }
        .small Select the main reason you’re writing this. This helps our community to more effectively receive and engage with your content.
    .row.row-padded
      .col-sm-3
        = f.label :intention_statement, "State your intention for this post in your own words."
      .col-sm-9
        = f.text_field :intention_statement, class: "form-control"
        .small Consciously setting an intention can encourage more thoughtful and more productive discussions.
        .small e.g. <em>I'm writing this post to clarify a perspective </em>
    .row.row-padded
      .col-sm-3
        = f.label :draft_content, "Content"
      .col-sm-9
        = f.text_area :draft_content, class: "form-control js-ckeditor", style: "height: 200px;"
        .js-autosave-indicator
    .row.row-padded
      .col-sm-3
        = f.label :tag_list, "Tags"
        .small Specify up to 3 brief, general labels that help other people discover this post based on the topics or fields it’s relevant to.
      .col-sm-9
        = f.text_field :tag_list, value: post.tag_list.join(","), class: "js-hidden"
        %ul#post-tags-tagit.js-tagit{ data: { "tagit-target": "#post_tag_list", "tag-limit": 3, "available-tags": popular_post_tags(30) }}
        .small.js-hide-if-tagit-limit-exceeded
          Common tags:
          - PredefinedTag.all.order(:name).each do |tag|
            &nbsp;
            = link_to(tag.name, "#", class: "js-add-tag", "data-target": "#post-tags-tagit")
        .js-show-if-tagit-limit-exceeded.js-hidden
          %strong.text-danger You can only add 3 tags to this field.
          Please remove some tags before adding more.
    .row.row-padded
      .col-sm-3
      .col-sm-9
        %hr
        = f.submit "Save draft", class: "btn btn-default"
        - if post.published?
          = f.submit "Publish changes", class: "btn btn-primary"
        - else
          = f.submit "Publish!", class: "btn btn-primary"
          &nbsp;
          = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
