.js-autosave
  = form_for(post) do |f|
    = show_errors_for post

    .row.row-padded
      .col-sm-3
        = f.label :title
        = required
      .col-sm-9= f.text_field :title, class: "form-control", autofocus: (post.published? ? false : true)
    .row.row-padded
      .col-sm-3
        = f.label :intention_type, "I'm writing this post mainly to..."
        = required
      .col-sm-9
        = f.select :intention_type, IntentionType.all.map{ |it| [it.long, it.short] }, { include_blank: "- select one -" }, { class: "form-control" }
        .small Select the main reason you’re writing this. This helps our community to engage with your content.
    .row.row-padded
      .col-sm-3
        = f.label :intention_statement, "State your intention for this post in your own words."
      .col-sm-9
        = f.text_field :intention_statement, class: "form-control"
        .small Consciously setting an intention can encourage more thoughtful and more productive discussions.
        .small e.g. <em>I'm writing this post to clarify a perspective </em>
    .row.row-padded
      .col-sm-3
        = f.label :draft_content, "Content"
      .col-sm-9
        = f.text_area :draft_content, class: "form-control js-ckeditor", style: "height: 200px;"
        .js-autosave-indicator
    = render partial: "shared/edit_tags", locals: { form: f, object: post }
    .row.row-padded
      .col-sm-3
      .col-sm-9
        %hr
        = f.submit "Save draft", class: "btn btn-default"
        - if post.published?
          = f.submit "Publish changes", class: "btn btn-primary"
        - else
          = f.submit "Publish!", class: "btn btn-primary"
          &nbsp;
          = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
