.row.edit-bottom-comment-container{"data-id": post.id}
  .col-sm-7
    = form_for(post, html: { class: "new-bottom-comment" }) do |f|
      = show_errors_for post

      = f.label :draft_content, "Comment by #{current_user.full_name}"
      = f.text_area :draft_content, class: "form-control", style: "height: 200px;", "data-toolbar": "brief"
      .hint.js-autosave-indicator
      .row.row-padded
        .col-sm-3
        .col-sm-9
          &nbsp;
          = f.submit "Save draft", class: "btn btn-default"
          - if post.published?
            = f.submit "Publish changes", class: "btn btn-primary"
          - else
            = f.submit "Publish reply", class: "btn btn-primary"
            &nbsp;
            = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."

  .col-sm-5
    .hint
      %p
        %strong Ways to support awesome conversation:
      %ul
        %li Ask someone for their perspective on an issue!
        %li Clarify where you're coming from. What experiences led you to take the position you took?
        %li TODO
        %li TODO

  :javascript
    $(function(){
      var container = $('.edit-bottom-comment-container[data-id="#{post.id}"]');
      init_autosave(container);
      init_ckeditor(container.find('#post_draft_content'));
    });
