.js-autosave
  = form_for(post) do |f|
    = show_errors_for post

    .row.row-padded
      .col-sm-3
        = f.label :title
        = required
      .col-sm-9= f.text_field :title, class: "form-control", autofocus: (post.published? ? false : true)
    - if post.conversant_records.where(user: current_user).count == 0
      .row.row-padded
        .col-sm-3
          = label_tag "post[intention]", "I'm writing this post to..."
          = required
          .hint.small Consciously setting your intention can encourage more thoughtful and more productive discussions.
        .col-sm-9
          = select_tag "post[intention]", options_for_select([["- select one -", ""]] + Post::INTENTION_PRESETS), { class: "js-intention-select form-control" }
          = text_field_tag "post[intention_write_in]", "", class: "js-intention-write-in js-hidden form-control", placeholder: "Write your own intention..."
    .row.row-padded
      .col-sm-3
        = f.label :draft_content, "Content"
      .col-sm-9
        = f.text_area :draft_content, class: "form-control js-ckeditor", style: "height: 200px;"
        .js-autosave-indicator
    = render partial: "shared/edit_tags", locals: { form: f, object: post }
    .row.row-padded
      .col-sm-3
      .col-sm-9
        %hr
        = monitor_connection
        = f.submit "Save draft", class: "btn btn-default"
        - if post.published?
          = f.submit "Publish changes", class: "btn btn-primary"
        - else
          = f.submit "Publish!", class: "btn btn-primary"
          &nbsp;
          = link_to fa_icon("trash") + " Delete", post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
