= form_for(@post, html: { style: "max-width: 900px;", class: "js-autosave" }) do |f|
  = show_errors_for @post

  .row.row-padded
    .col-sm-3= f.label :title
    .col-sm-9= f.text_field :title, class: "form-control"
  .row.row-padded
    .col-sm-3= f.label :intention_type, "I'm writing this post mainly to..."
    .col-sm-9= f.select :intention_type, [["share an update about world events", "share news"], ["share facts / research / objective knowledge", "share facts"], ["share a personal experience or perspective on an issue", "share perspective"], ["raise awareness of a problem", "raise awareness"], ["learn about others’ perspectives", "seek perspectives"], ["seek advice", "seek advice"], ["[other]", "other"]], { include_blank: "- select one -" }, { class: "form-control" }
  .row.row-padded
    .col-sm-3
      = f.label :intention_statement, "State your intention for this post in your own words."
    .col-sm-9
      = f.text_field :intention_statement, class: "form-control"
      .small Consciously setting an intention can encourage more thoughtful and more productive discussions.
      .small e.g. <em>I'm writing this post to clarify a perspective </em>
  .row.row-padded
    .col-sm-3
      = f.label :content
    .col-sm-9= f.text_area :content, class: "form-control js-ckeditor", style: "height: 200px;"
  .row.row-padded
    .col-sm-3
      = f.label :tag_list, "Tags"
      .small eg. <span class="label label-default">global warming</span>, <span class="label label-default">mcdonalds</span>
    .col-sm-9
      = f.text_field :tag_list, value: @post.tag_list.join(","), class: "js-hidden"
      %ul#tag-list-tagit.js-tagit{"data-tagit-target": "#post_tag_list"}
  .row.row-padded
    .col-sm-3
    .col-sm-9
      - if @post.published?
        = f.submit "Update", class: "btn btn-primary"
      - else
        = f.submit "Save as draft", class: "btn btn-default"
        = f.submit "Publish!", class: "btn btn-primary"
