.bottom-comment{"data-id": post.id}

  .this-comment
    .float-left= image_tag(post.author.image.url(:thumb), style: "width: 60px; padding-right: 10px; padding-bottom: 10px;")
    = sanitize(post.published_content || post.draft_content, tags: %w(h1 h2 h3 p blockquote pre strong em s a ul ol li table thead tbody tr th td img), attributes: %w(href src))

    %p.text-muted{style: "margin-top: 0.5em; line-height: 25px;"}
      - if post.published?
        by #{link_to post.author.full_name, user_path(post.author)} on #{print_date(post.created_at, time: true)}
      - else
        %strong.text-danger Draft reply
        = "- you started writing this on #{print_date(post.created_at, time: true)}"
      %span.js-opaque-on-hover
        %i.fa.fa-spinner.loading.js-hidden
        - if current_user == post.author
          &nbsp;
          = link_to fa_icon("pencil"), edit_post_path(post), class: "js-edit-reply"
          - if ! post.published?
            &nbsp;
            = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft reply?"
        - elsif post.published?
          - if current_user.present?
            &nbsp;
            = link_to fa_icon("pencil") + " Reply", "#", class: "js-new-reply btn btn-xs btn-default", "data-post-id": post.id

    .new-reply-container.js-hidden{ "data-parent-id": post.id }

  - post.children.visible_to(current_user).order("created_at ASC").each do |reply|
    = render partial: "show_bottom_comment", locals: { post: reply }
