.row
  .col-md-4
    %h1.text-warning My Drafts
    %p When you start writing a post or a reply, it's shown here until you publish it.

    .hidden-sm.hidden-xs= image_tag "list_images/conversations.jpg", style: "width: 100%;"

  .col-md-8
    - @drafts.each do |post|
      .list-row
        %div
          %span.h4= link_to post.title.presence || "Untitled", edit_post_path(post), class: "test-edit-draft-link"
          &nbsp;
          = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
        .nowrap.text-muted Started on #{print_date(post.created_at, time: true)}
        .nowrap.text-muted
          = ellipsify(sanitize(post.draft_content, tags: []), 300)
        .nowrap
          - post.tag_list.each do |name|
            = link_to name, search_posts_path(tags: name), class: "btn btn-default btn-xs"
