.row
  .col-md-4
    %h1 Conversations
    %p Conversations are powerful ways to connect, learn, collaborate, and innovate. Use conversations to share your ideas and questions, and respond to those of others.
    %p
      = link_to "Start a conversation", posts_path, method: :post, class: "test-new-conversation-button btn btn-success"
      - if @my_drafts_count and @my_drafts_count > 0
        &nbsp;
        = link_to "#{pluralize @my_drafts_count, "draft"}", drafts_posts_path, class: "test-my-drafts-link btn btn-default btn-sm"

    = render partial: "search", locals: {filters:{}}

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/conversations.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most active
        - @most_active_conversations.each do |post|
          .list-row
            %span.h4= link_to post.title, post_path(post)
            %div.nowrap.text-muted
              = ellipsify(sanitize(post.published_content, tags: []), 300)
            %div.nowrap
              - post.author_and_conversants.take(10).each do |user|
                = link_to image_tag(user.image.url(:thumb), class: "img-circle", style: "width: 20px;"), user_path(user)
              - post.tag_list.each do |name|
                = link_to name, search_posts_path(tags: name), class: "btn btn-default btn-xs"
        %hr
        %p= link_to "See all", search_posts_path

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_posts_path(tags: tag.name), class: "#{css_class}"
            &nbsp;
