%h1 Posts

.row
  .col-sm-8
    %p <strong>Conversations are powerful ways to connect, learn, collaborate, and innovate.</strong><br> Use conversations to share your ideas and questions, and respond to those of others.
    %p= link_to "Start a new conversation", posts_path, method: :post, class: "btn btn-success"

  .col-sm-4
    = form_tag(posts_path, method: :get, class: "filter-posts") do
      %div.strong Filter by tag...
      %select.js-chosen{name: "tags", data: { placeholder: "Click to select a tag" }}
        %option
        - popular_post_tags(15).each do |name|
          - selected = @filters[:tags].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
      %div.strong{style: "padding-top: 10px;"} Filter by author...
      %select.js-chosen{name: "author_id", data: { placeholder: "Click to select an author" }}
        %option
        - @authors.each do |author|
          - selected = @filters[:author_id] == author.id.to_s
          %option{value: author.id, selected: selected}= author.full_name
      .text-right{style: "padding-top: 10px;"}= submit_tag "Filter", class: "btn btn-primary"

- @posts.each do |post|
  %div
    %hr
    .title
      %span.h4= link_to post.title.presence || "Untitled draft", post_path(post)
      &nbsp;
      %span.label.label-default= post.intention_type
      - post.tag_list.each do |name|
        = link_to name, posts_path(tags: name), class: "label label-default"
    .teaser
      = ellipsify(post.published_content, 100)
    .attribution.text-muted
      Written by #{link_to post.author.full_name, user_path(post.author)}
      - if post.published?
        on #{print_date(post.published_at, time: true)}.
      -# TODO: Unpublished posts shouldn't be listed here; accounting for them complicates the logic too much, with no clear benefit. There should be a separate section or a separate page maybe; have a link to "See my 4 unpublished drafts"
      - if current_user == post.author and ! post.published?
        &mdash;
        %span.text-warning Unpublished draft
        &nbsp;
        = link_to fa_icon("pencil"), edit_post_path(post), class: "edit-post-link"
        &nbsp;
        = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
