%h1 Posts

.row
  .col-sm-4
    %p
      %strong Meaningful concise statement.
      = Faker::Lorem.paragraph
    %p.text-center= link_to "Start a conversation", posts_path, method: :post

    %hr
    = form_tag(posts_path, method: :get) do
      %div.strong{style: "padding-top: 10px;"} Filter by tag...
      %select.js-chosen{name: "tags", data: { placeholder: "Click to select a tag" }}
        %option
        - popular_post_tags(15).each do |name|
          - selected = @filters[:tags].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
      %div.strong{style: "padding-top: 10px;"} Filter by author...
      %select.js-chosen{name: "author_id", data: { placeholder: "Click to select an author" }}
        %option
        - @authors.each do |author|
          - selected = @filters[:author_id] == author.id.to_s
          %option{value: author.id, selected: selected}= author.name
      .text-right{style: "padding-top: 10px;"}= submit_tag "Filter", class: "btn btn-primary"

  .col-sm-8
    %table.table.table-striped{style: "width: 100%;"}
      %tr
        %th Title
        %th Tags
        %th Author
        %th Published at
      - @posts.each do |post|
        %tr
          %td
            = link_to post.title.presence || "Untitled draft", post_path(post)
            - if current_user == post.author and ! post.published?
              %br
              %span.text-warning Unpublished draft
              &nbsp;
              = link_to fa_icon("pencil"), edit_post_path(post), class: "edit-post-link"
              &nbsp;
              = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
          %td.small
            - post.tag_list.each do |name|
              = link_to name, posts_path(tags: name)
              &nbsp;
          %td= link_to post.author.name, user_path(post.author)
          %td= print_date post.published_at, abbreviated: true, time: true if post.published?
