.row
  .col-md-4
    %h1 Conversations
    %p Conversations are powerful ways to learn, collaborate, and innovate. Use conversations to share your ideas and questions, and respond to those of others.
    %p
      = link_to "Start a conversation", posts_path, method: :post, class: "test-new-conversation-button btn btn-success"
      - if @my_drafts_count and @my_drafts_count > 0
        &nbsp;
        %span.em You have #{link_to pluralize(@my_drafts_count, "draft"), drafts_posts_path, class: "test-my-drafts-link"}.

    = render partial: "shared/simple_search_form", locals: {model_name: "Post"}

    .alert.alert-info{style: "margin-top: 20px;"}
      %p
        %span.h3 #{fa_icon("bullhorn")} Got something to say?
      %p This site is about connecting minds and ideas to spark meaningful change. We want as many people as possible to benefit from your experience! Consider writing a Medium article on what you've learned, then adding a link here so fellow Integral Hubbers can find it.
      %p= link_to fa_icon("pencil") + " Start writing your story", "https://medium.com/new-story", target: "_blank", class: "btn btn-primary"

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/conversations.jpg", style: "width: 100%;"

  .col-md-8
    .row
      .col-sm-7
        %h3 Most active
        - @most_active_conversations.each do |post|
          = render partial: "list_row", locals: {post: post, opts: {}}
        %hr
        %p= link_to "See all", search_path(models: "Post")

      .col-sm-5
        %h3 Recent activity
        = render partial: "shared/recent_events", locals: { events: @recent_events}

        %h3 Popular categories
        %div
          - tag_cloud(@tag_counts, %w(tag-cloud-1 tag-cloud-2 tag-cloud-3 tag-cloud-4)) do |tag, css_class|
            = link_to "#{tag.name}", search_path(query: tag.name, models: "Post"), class: "#{css_class}"
            &nbsp;
