%h1 Posts

.row
  .col-sm-4
    %p
      %strong Meaningful concise statement.
      = Faker::Lorem.paragraph
    %p.text-center= link_to "Start a conversation", posts_path, method: :post

    %hr
    #filters
      %p
        %strong Filter by author:<br>
        - @authors.each do |author|
          - if @filters[:author_id] == author.id.to_s
            %span.text-muted= author.name
          - else
            = link_to author.name, posts_path(author_id: author.id)
          &nbsp;
      %p
        %strong Filter by tag:
        - popular_post_tags(15).each do |name|
          - if @filters[:tags].to_s.split(", ").include?(name)
            %span.text-muted= name
          - else
            = link_to name, posts_path(tags: name)
          &nbsp;
      - if @filters.any?
        %p= link_to fa_icon("times") + " Clear filters", posts_path, class: "text-warning"

  .col-sm-8
    %table.table.table-striped{style: "width: 100%;"}
      %tr
        %th Title
        %th Intention
        %th Author
        %th Published at
      - @posts.each do |post|
        %tr
          %td
            = link_to post.title.presence || "Untitled draft", post_path(post)
            - if current_user == post.author and ! post.published?
              %br
              %span.text-warning Unpublished draft
              &nbsp;
              = link_to fa_icon("pencil"), edit_post_path(post), class: "edit-post-link"
              &nbsp;
              = link_to fa_icon("trash"), post_path(post), method: :delete, class: "text-danger", "data-confirm": "Really delete this draft? You can't undo this action."
          %td
            = post.intention_type
            - if post.intention_statement.present?
              = "- #{post.intention_statement}"
          %td= link_to post.author.name, user_path(post.author)
          %td= print_date post.published_at, abbreviated: true, time: true if post.published?
