%hr
#footer{style: "padding-bottom: 15px"}
  %p.text-center
    = link_to fa_icon("question-circle") + " About", about_path
    &nbsp;
    = link_to fa_icon("compass") + " Principles", principles_path
    &nbsp;
    = link_to fa_icon("users") + " How to help", how_you_can_help_path
    &nbsp;
    = mail_to "contact@thriveabilitylab.com", fa_icon("envelope") + " Email us"
    &nbsp;
    = link_to fa_icon("newspaper-o") + " Newsletter", "http://eepurl.com/cWwWWf", target: "_blank"
    &nbsp;
    = link_to fa_icon("commenting") + " Feedback", feedback_form_url, target: "_blank"
