%hr
#footer{style: "padding-bottom: 15px"}
  %p.text-center
    = link_to "About", about_path
    &nbsp;
    = link_to "Guiding Principles", guiding_principles_path
    &nbsp;
    = link_to "How you can help", how_you_can_help_path
    &nbsp;
    = link_to fa_icon("envelope") + " Newsletter", "http://eepurl.com/cWwWWf", target: "_blank"
    &nbsp;
    = link_to fa_icon("commenting") + " Give feedback", feedback_form_url, target: "_blank"
