.navbar.navbar-default{style: "z-index: 9;"}
  #main-navbar.container-fluid
    .navbar-header
      = link_to raw("#{fa_icon('globe')} Integral Climate"), root_path, class: 'navbar-brand'
      / The "show links" button. Floats to the RIGHT of its container.
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li{class: active_if_current(about_path)}
          = link_to "About", about_path
        %li{class: active_if_current(users_path)}
          = link_to "People", users_path
        %li{class: active_if_current(projects_path)}
          = link_to "Projects", dashboard_projects_path
        %li{class: active_if_current(posts_path)}
          = link_to "Conversations", dashboard_posts_path
        %li{class: active_if_current(resources_path)}
          = link_to "Resources", dashboard_resources_path

        - if user_signed_in?
          = render partial: "layouts/notifications_menu"
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown'}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li= link_to "My Profile", user_path(current_user)
              %li= link_to "Account settings", edit_user_registration_path
              %li= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-danger"
        - else
          %li= link_to "Log in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
