%li.dropdown
  - if unread_notifications_count > 0
    %a.dropdown-toggle{"data-toggle": "dropdown"}
      = fa_icon("bell")
      .label.label-danger #{unread_notifications_count}
      %span.caret
  - else
    %a.dropdown-toggle.text-muted{"data-toggle": "dropdown"}
      = fa_icon("bell")
      %span.caret
  %ul.dropdown-menu.notifications-list
    - if my_recent_notifications.any?
      - my_recent_notifications.each do |n|
        - e = n.event
        %li.notification{class: n.read? ? "read" : "unread"}
          %div
            = link_to image_tag(e.image_url, class: "notification-icon"), notification_path(n, redirect_to: "actor")
            -# %span.datetime #{print_date n.created_at, time: true} -
            = link_to e.actor.full_name, notification_path(n, redirect_to: "actor"), class: "notification-actor-link"
            = e.action_description
            = link_to "\"#{ellipsify e.target_description, 80}\"", notification_path(n, redirect_to: "target"), class: "notification-target-link"
      .divider{role: "separator"}
      - if unread_notifications_count > 0
        %li= link_to "Mark all as read", mark_all_read_notifications_path, method: :post, class: "mark-all-notifications-as-read"
      %li= link_to "See all notifications", notifications_path, class: "see-all-notifications"
    - else
      %li.dropdown-header Nothing to report lately!
