%li.dropdown
  %a.dropdown-toggle{"data-toggle": "dropdown"}
    = fa_icon("bell")
    - if unread_notifications_count > 0
      .label.label-danger{style: "border-radius: 10px;"}= unread_notifications_count
    - elsif !current_user.profile_filled_in?
      .label.label-danger{style: "border-radius: 10px;"}= fa_icon("star")
    %span.caret
  %ul.dropdown-menu.notifications-list{style: "padding-left: 5px; min-width: 400px;"}
    %div.strong Notifications

    - if !current_user.profile_filled_in?
      %div.notification.unread{style: "min-height: 45px; padding: 3px; border: 1px solid #eee; margin: 3px;"}
        .label.label-danger{style: "border-radius: 10px;"}= fa_icon("star")
        Fill in your profile so other Thriveability members can get to know you better!
        = link_to "Update my profile", edit_user_path(current_user)
    - elsif my_recent_notifications.count == 0
      %p Nothing to report lately!

    - my_recent_notifications.each do |n|
      -# TODO: Obviously inline styling isn't good hygiene, this would be a good place to test out BEM (or ABEM?) classes
      %div.notification{style: "min-height: 45px; padding: 3px; padding-left: 0px; border: 1px solid #eee; margin: 3px;", class: (n.read? ? "read" : "unread")}
        %a{href: notification_path(n, redirect_to: "target"), style: "display: block; padding-left: 40px;"}
          - e = n.event
          - next if e.target.nil?
          = image_tag(e.image_url, class: "notification-icon img-circle")
          -# %span.datetime #{print_date n.created_at, time: true} -
          %strong= e.actor.name
          = e.action_description
          %strong= ellipsify e.target_description, 80

    %div.text-center
      = link_to "See all", notifications_path, class: "see-all-notifications"
      &nbsp;
      - if unread_notifications_count > 0
        = link_to "Mark all as read", mark_all_read_notifications_path, method: :post, class: "mark-all-notifications-as-read"
