!!!
%html
  = render partial: "layouts/head"

  %body
    = render "/layouts/header"
    #main-container.container-fluid
      .row
        .col-md-12
          = render "/layouts/flash"
          = yield
    = render "/layouts/footer"

