!!!
%html
  = render partial: "layouts/head"

  %body
    = render "/layouts/header"
    = render "/layouts/flash"
    = yield

    %hr
    %p.text-center= link_to fa_icon("envelope") + " Join our newsletter", "http://eepurl.com/cWwWWf", target: "_blank"
